body {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#map {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.mapboxgl-ctrl-top-right {
    bottom: 2% !important;
    right: 1% !important;
    top: auto !important;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
	margin: 0 !important;
}

.mapboxgl-popup-content {
    width: 300px;
    height: auto;
    /*display: flex;*/
    /*justify-content: ;*/
    /*align-items: top;*/
}

.mapboxgl-marker {
    background-size: 100%;
    cursor: pointer;
    padding: 0;
}