/*@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900';*/
/*body{float: left; width: 100%; margin: 0; padding: 0; font-family: 'Lato', sans-serif; font-weight: 400; color: #777; position: relative;}*/
/*html{height: 100%; position: relative;}*/
@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');
body{margin: 0;font-family: "Droid Sans",Helvetica,Arial,sans-serif; font-weight: 400; color: #545454; position: relative;}
body.no-scroll{overflow: hidden;}
/*body.Home{background: url(/assets/img/bg.png) 0px 98% no-repeat; background-size: 100%;}*/

img{width: 100%; display: block; border: none;}
a{text-decoration: none; color: #555;}
a:hover{text-decoration: none;}
h1,h2,h3,h4,h5,h6{margin: 0; font-weight: 500;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
ul, li, span, p{padding: 0; margin: 0;}
ul, li{list-style: none;}
iframe{float: left; width: 100%; display: block;}
button:focus{outline: none;}
input{padding: 0; margin:0;}
input, textarea, select{-webkit-appearance:none; -moz-appearance:none; border-radius: 0;}
textarea{font-family: Helvetica,Arial,sans-serif; font-size: 14px;}

.toggle.hidden {
   display:none;
}
.toggle.show{
   display:block;
}

.bold-text{font-weight: 600};

.lighter{font-weight: 300}
.no-bg{background: none;}
.bg-grey{background: #f1f1f1;}
.bg-dark-grey{background: #ddd;}
.bg-green{background: #88c337;}
.bg-white{background: #fff;}
.clr-grey{color: #999999;}
.clr-white{color: #fff;}
.clr-dark{color: #21303f}
.clr-blue{color: #1a0dab;}
.clr-light-blue{color: #56ddf1;}
.clr-light-blue{color: #41add1;}
.clr-green{color: #006621;}
.clr-green-booger{color: #8cc63f;}
.clr-light-green{color: #9ed05d;}
.clr-smooth-green{color: #88c337;}
.clr-black{color: #555;}
.underline{text-decoration: underline;}

.text-overflow{text-overflow:ellipsis; overflow: hidden; white-space: nowrap;}
/*fixed-min-100*/
.transition{transition: all ease 0.5s !important;  -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out;}
.fixed-min-100{position: fixed; left: 0; right: 0; top: -100%; z-index: 999;}
.fixed-plus-100{top: 0 !important;}
.none{display: none}

/*grid*/
.g-10{width: 10%; padding: 5px;}
.g-15{width: 15%; padding: 5px;}
.g-20{width: 20%; padding: 5px;}
.g-30{width: 30%; padding: 5px;}
.g-40{width: 40%; padding: 5px;}
.g-50{width: 50%; padding: 5px;}
.g-60{width: 60%; padding: 5px;}
.g-70{width: 70%; padding: 5px;}
.g-80{width: 80%; padding: 5px;}
.g-85{width: 85%; padding: 5px;}
.g-90{width: 90%; padding: 5px;}

.left-col{width: 60%;}

.page{float: left; width: 100%; min-height: 100vh; margin-bottom: 20px; position: relative;}

.full{float: left; width: 100% !important;}
.left{float: left;}
.right{float: right;}

.container{width: 78%; margin: 0 auto; padding: 0;}
/*.container{width: 1110px; margin: 0 auto; display: table; padding: 0;}*/

.centered{margin: 0 auto; display: table;}
.center{margin: 0 auto; display: table;}

/*position/*/
.abs{position: absolute;}
.rel{position: relative;}
.fixed{position: fixed;}
.text-overflow{text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.text-center{text-align: center;}

select{background: #fff url(../img/ic-select-down.png) right no-repeat; background-position-x:98%;  background-size: 11px; position: absolute; right: 0;}

/*alert*/
.alert{margin-bottom: 20px; padding: 15px; background: #f2f2f2; border-radius: 5px; border: 1px solid #545454}
.alert.alert-success{color: #88c337}
.alert.alert-danger{color: red}

/*form*/
.form-input{position: relative; border: 1px solid #ddd; background-color: #fff; border-radius: 50px; overflow: hidden;}
.form-input:hover{box-shadow: 1px 1px 7px 2px #ddd;}
.form-input button{position: absolute; right: 0; top: 0; bottom: 0; width: 50px; background: #fff url('../img/ic-search-new.png') no-repeat; background-position: 12px 13px; background-size: 45%; cursor: pointer; border: none; overflow: hidden; border-left: 1px solid transparent}
.form-input button:hover{background: #86c340 url('../img/ic-search-new-white.png') no-repeat; background-position: 12px 13px; background-size: 45%; }
/*.form-input button .img{width: 17px;}*/

.form-control{width: calc(100% - 60px); border: none; border-radius: 50px; padding: 15px; border: 1px solid #ddd; font-size: 16px;}
.form-control:focus{outline: none;}

.form-style{float: left; width: 100%; font-size: 12px; padding: 10px; border:1px solid #ddd;}
.form-style:focus{outline: none;}
.form-style.select{position: relative;}

.btn-style:focus{outline: none;}
.btn-style{float: left; padding: 10px; border:1px solid #2d3e50; background: #2d3e50; color: #fff; font-size: 12px; border-radius: 5px; cursor: pointer;}
.btn-style:hover{background:#202D3C;}

.btn-close-form{right: 40px; top: 1px; bottom: 1px; background: #fff;}
.btn-close-form a{float: left; width: 48px; padding: 15px;}


.no-results{float: left; margin-top: 30px; color: #000; font-size: 17px;}

.mobile{display: none !important;}
.desktop{display: block !important;}

.no-pd{padding: 0;}


.coming-soon{width: 100%; text-align: center; display: inline-block; margin-top: 15%}


/*btn-arrow
.btn-arrow{position: absolute; left: 0; right: 0; bottom: 70px; z-index: 2;}
.btn-arrow a{margin: 0 auto; display: table; width: 35px;-webkit-animation-name: spaceboots; -webkit-animation-duration: 1s; -webkit-transform-origin: 50% 50%; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear;}*/


.extension a{background: #f2f2f2; padding: 8px 20px 8px 12px; border-radius: 3px;}
.extension a .ic{width: 20px;}
.extension a .desc{font-size: 13px; margin: 3px 7px 0 7px;}
.extension .close-ic{width: 20px; top: 9px; right:5px; padding: 5px; cursor: pointer;}
.extension .close-ic:hover{opacity: 0.8;}

.about-title{font-weight: 600; font-size: 66px; letter-spacing: 1px;}

/*pagination*/
.pagination{margin: 30px 0;}
.pagination ul li{float: left; margin: 0 5px; cursor: pointer;}
.pagination ul li.active{cursor: auto; background: #ddd;}
.pagination ul li a, 
.pagination ul li span{float: left; padding: 6px 11px; font-size: 14px; color: #818181; border: 1px solid #ddd;}


.pagination ul li a:hover{background: #ddd;}
.pagination ul li.active span{background: #eaeaea;}
.pagination ul li.disabled span{margin: 0 2px; border: 0; padding: 12px 5px}
.pagination ul li:first-child.disabled{display: none;}



/*justified-gallery*/
.justified-gallery{overflow: visible !important; height: auto !important}
.justified-gallery > a, .justified-gallery > div{overflow: visible !important;}
.justified-gallery > a > img, .justified-gallery >div > img, .justified-gallery > a > a > img, .justified-gallery > div > a > img{position: static !important; top: 0 !important; left: 0 !important; margin-left: 0 !important; margin-top: 0 !important; }

 .ui-menu .ui-menu-item-wrapper{padding:5px 10px !important; font-size: 15px; font-weight: 500; background: #fff; color: #222;}
 .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{border: 1px solid #eee !important; background: #eee !important; font-weight: 500 !important; color: #222 !important; }


input::-webkit-search-cancel-button {
  display: none;
}

::-webkit-scrollbar{
  z-index: 30;
  width: 10px;
  height: 0;
  y-index: hidden;
}
::-webkit-scrollbar-track{
  background-color: #2d4860;
  border-radius: 20px;
  box-shadow: none;
  border: 0;
}
::-webkit-scrollbar-thumb{
  background-color: #8DC449;
  border-radius: 20px;
  box-shadow: none;
  border: 0;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #8DC449;
}



@-webkit-keyframes cloudAnimate {
	0%   {background-position: 0 0;}
	100%   {background-position: 10000px 0;}
    
}

.cloudAnimate{
    -webkit-animation-name: cloudAnimate; 
    -webkit-animation-duration: 150s; 
    -webkit-transform-origin:10% 10%; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(1px, 10px) rotate(0deg); }
	50% { -webkit-transform: translate(1px, 20px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, 10px) rotate(0deg); }
}