.loading{float: left; width: 100%; margin-top: 30px;}
.loading .centered{width: 180px;}
.extension{display: none !important;}

.header.About{border-bottom: 1px solid #ddd;}
.bg-about::after{content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.48);}

/*.header-single{width: 100%; margin: 5px auto; display: inline-block;}
.header-single .container{width: 95%}
.header-single .logo{width: 110px; margin-top: 10px;}
.header-single .right-header{position: relative; right: 0; top: 0px; margin-top: 4px;}*/

/*.header-about .about-content{width: 100%; margin: 5px auto; display: inline-block;}
.header-about .about-content .container{width: 95%}
.header-about .about-content .logo{width: 110px; margin-top: 10px;}
.header-about .about-content .right-header{position: relative; right: 0; top: 0px; margin-top: 4px;}*/
.header-about .txt{background: url(/static/assets/img/img-about.png) center no-repeat; background-size: cover; background-color: #f2f2f2; min-height: 125vh; width: 100%}
.header-about .txt .right{width: 40%; margin-top: 30px}
.header-about .txt h1{font-weight: 700; font-size: 95px; margin-top: 130px }
.header-about .txt h3{margin-top: 50px; font-weight: 300; font-size: 24px;}
.header-about .txt .btn-txt{margin-top: 60px; font-size: 30px;}
.header-about .txt .btn-txt a img{width: 60px; background: #21303F; border: 3px solid #21303F; border-radius: 100%; padding: 9px 10px;}
.header-about .txt .btn-txt a:hover img{background: #55758E; border: 3px solid #55758E;}
/*.header-about .txt .btn-txt i{color: #21303F;}*/

/*menu*/
.menu-ins{position: fixed; right: -100%; top: 0; bottom: 0; width: 320px; background: #2e3e50; z-index: 2;}
.menu-ins.open{right: 0; display: block; overflow-y: auto;}
.menu-ins .btn-close{float: right; margin: 30px 30px 0 0; width: 20px; cursor: pointer;}
.menu-ins .log-dash{display: inline-block; width: 100%;}
.menu-ins .log-dash li{list-style: none; padding: 0 20px}
.menu-ins .log-dash li .log{padding: 10px; margin-bottom: 20px; border: 1px solid transparent;  border-radius: 5px; font-size: 18px; text-align: center; color: #fff}
.menu-ins .log-dash li .log:hover{background: #55758E; border-radius: 5px}
.menu-ins .log-dash li .log img{width: 50px; display: inline-block;}
.menu-ins .log-dash li .btn-style{margin: 0 10px 20px 0; border: 1px solid #fff; font-size: 18px; width: 48%; text-align: center;}
.menu-ins .log-dash li .btn-style:hover{background: #86c340; border: 1px solid #86c340}
.menu-ins .log-dash li:last-child .btn-style{margin: 0; border: 1px solid #55758E; color: #55758E}
.menu-ins .log-dash li:last-child .btn-style:hover{background: #55758E; color: #fff}
.menu-ins .list{padding: 0px 20px}
.menu-ins .list ul li{list-style: none; margin: 18px 0;}
.menu-ins .list ul li a{color: #fff; font-size: 16px}
.menu-ins .list ul li a:hover{color: #86c340}
.menu-ins .copyright{position: absolute; bottom: 0; text-align: center; color: #55758E; font-size: 12px}

/*about*/
.page.about{background: #f2f2f2;}
.page.about .content{position: relative;}
.page.about .content-left{width: 70%;}
.page.about .content-right{position: absolute; right: 20px; width: 45%; top: 80px;} 
.page.about .content-right .title-content{font-size: 60px; font-weight: 700; margin-bottom: 10px;} 
.page.about .content-right .desc{text-align: left; font-size: 18px; line-height: 1.5em} 

.page.about .def-search {background: #fff}
.page.about .def-search .content .desc{margin: 40px 0; font-size: 18px;}
.page.about .def-search .content .title-content{margin-top: -50px; font-size: 40px; font-weight: 600;}
.page.about .def-search .content .title-content .title{border: 1px solid; border-radius: 70px; width: 70%; padding: 20px 5px; background: #21303F; color: #fff; font-size: 25px}

.page.about .def-search .share{display: inline-block; width: 100%; text-align: center;}
.page.about .def-search .share a{display: inline-block; width: 130px;}
.page.about .def-search .share a:first-child{margin-right: 10px}

/*	.page.about .def-search .img-about-footer{display: inline-block; width: 100%; margin: 40px 0;}
	.page.about .def-search .img-about-footer img{width: 40%}*/

	.page.about section.problem-while .problems{padding: 60px 0;}
	.page.about section.problem-while .problems ul.list-problems{padding: 0;}
	.page.about section.problem-while .problems ul.list-problems.centered{width: 45%; padding: 60px 0}
	.page.about section.problem-while .problems ul.list-problems li{float: left; width: 100%;}
	.page.about section.problem-while .problems ul.list-problems li .img{float: left; width: 40%;}
	.page.about section.problem-while .problems ul.list-problems li .title-desc{float: right; width: 55%; margin-top: 40px;}
	.page.about section.problem-while .problems ul.list-problems li .title-desc .title-list{width: 100%; display: inline-block; font-size: 40px; margin-bottom: 5px; font-weight: 600}
	.page.about section.problem-while .problems ul.list-problems li .title-desc .desc-list{width: 100%; display: inline-block; font-size: 16px; font-weight: 300;}

.page.about section.problem-while .problems ul.list-problems li:nth-child(even){float: right; width: 100%;}
.page.about section.problem-while .problems ul.list-problems li:nth-child(even) .img{float: right; width: 40%;}
.page.about section.problem-while .problems ul.list-problems li:nth-child(even) .title-desc{float: left; width: 55%; margin-top: 40px; text-align: right;}
.page.about section.problem-while .problems ul.list-problems li:nth-child(even) .title-desc .title-list{width: 100%; display: inline-block; font-size: 40px; margin-bottom: 5px; font-weight: 600}
.page.about section.problem-while .problems ul.list-problems li:nth-child(even) .title-desc .desc-list{width: 100%; display: inline-block; font-size: 16px; font-weight: 300;}
	
	.page.about section.problem-while .while{background: #89c929; padding: 70px 0; text-align: center;}
	.page.about section.problem-while .while .desc-while{width: 100%; font-size: 20px; font-weight: 300}

.footer-about{background: #8CC63F; margin-top: 25%; padding-bottom: 20px}
.footer-about .img-about-footer{margin: -24% 0 5% 0;}
.footer-about .img-about-footer img{width: 40%}
.footer-about .subcribe h2{font-size: 40px; color: #fff; font-weight: 700;}
.footer-about .subcribe h4{font-size: 18px; color: #fff; margin: 10px auto}
.footer-about .subcribe .form-group.centered{width: 500px; border-radius: 50px; overflow: hidden; margin: 20px auto}
.footer-about .subcribe .form-group input:first-child{width: 100%; border-radius: 50px; padding: 10px 15px; border: 1px solid transparent; font-size: 16px;}
.footer-about .subcribe .form-group input:first-child:focus{outline: inherit; outline-offset: inherit; border: 1px solid #2B3F50;}
.footer-about .subcribe .form-group input:last-child{position: absolute; right: 0; top: 0; bottom: 0; background: #55758E; color: #fff; border: 0; padding: 0 10px; cursor: pointer;}
.footer-about .subcribe .form-group input:last-child:hover{background: #2B3F50; color: #fff;}
.footer-about .sosmed-menu .sosmed{margin-top: 30px}
.footer-about .sosmed li{float: left; margin: 0 10px; font-size: 22px;}
.footer-about .sosmed li a{color: #fff}
.footer-about .sosmed li a:hover{color: #2C3F50}
.footer-about .menu-footer li{float: left; margin: 30px 10px 20px 10px; font-size: 11px; list-style: square; color: #fff}
.footer-about .menu-footer li a{color: #fff}
.footer-about .menu-footer li a:hover{color: #2C3F50}
.footer-about .menu-footer li:first-child{list-style: none;}

.right-header{position: absolute; top: 20px; right: 12px; width: 145px}
.right-header .login-right span{float: left; margin: 12px 5px;}
.left-header{margin-bottom: 35px;}
.total-donation{padding: 11px; border-radius: 100px; background: #86c340; color: #fff}

.right-header .login .ic .img{width: 40px;}
.right-header .login .value{font-size: 16px; font-weight: 600; margin-top: 2px;}
.right-header .ic-menu{width: 40px; margin-left: 7px; padding: 7px; border-radius: 27px; cursor: pointer;}
.right-header .ic-menu:hover{background: #8CC540;}
.right-header .ic-menu:hover img{filter: brightness(0) invert(1);}
/*.right-header .ic-menu img{margin-top: 8px}*/
/*.right-header .ic-menu img:hover{opacity: .8;}*/

.page.landing{margin-bottom: 0;}
.page.landing {position: relative; z-index: 2; background:url(/static/assets/img/bg.jpg)center no-repeat; background-size: cover;}
.page.landing .logo{margin-top: 150px}
.page.landing .logo .centered{width: 220px;}
.page.landing .search-form{margin: 40px 0 15px 0;}
.page.landing .search-form .centered{width: 584px;}
.page.landing .btn-value button{border: none; padding: 10px 20px; font-weight: 600; font-size: 14px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; cursor: pointer;}
.page.landing .btn-value button:hover{background: #7BB132;}
.page.landing .tag-line{margin: 50px 0 20px 0;}
.page.landing .tag-line strong{font-size: 20px; color: #878787}
.page.landing .count{text-align: center;}
.page.landing .count .num{position: relative; display: inline-block;}
.page.landing .count .num .ribbon{position: absolute; top: 11px; width: 80px; height: 45px;}
.page.landing .count .num .ribbon.tp{left: 0px; top: -40px; width: 100%;}
.page.landing .count .num .ribbon.tp span{margin: 0 auto; width: 115px; height: 100%; display: table; background: url(/static/assets/img/ribbon-top.svg) top center no-repeat; background-size: 100%;}
.page.landing .count .num .ribbon.lft{left: -56px; background: url(/static/assets/img/ribbon-left.svg) top center no-repeat; background-size: 100%;}
.page.landing .count .num .ribbon.rgt{right: -56px; background: url(/static/assets/img/ribbon-right.svg) top center  no-repeat; background-size: 100%;}
.page.landing .count .num a{position: relative; padding: 10px 30px; color: #fff; font-weight: 400; border-radius: 100px; background: #55758e; font-size: 30px;}

.page.landing .badge{width: 300px; background: #fff; border: 1px solid #ddd; border-radius: 5px; box-shadow: 1px 1px 7px 2px #ddd; position: absolute; top: 70px; right: 2%;}
.page.landing .badge .badge-top{float: left; width: 100%;}
.page.landing .badge .badge-top .img-chrome{float: left; width: 40px; margin-right: 15px; margin-bottom: 10px;}
.page.landing .badge .badge-top .badge-txt{float: left; width: 100%; text-align: center; padding: 10px}
.page.landing .badge .badge-top .badge-txt span{display: inline-block; font-size: 13px;}
.page.landing .badge .badge-top .img-close{width: 20px; position: absolute; top: 10px; right: 10px; padding: 3px;}
.page.landing .badge .badge-top .img-close:hover{color: #fff;}
	.page.landing .badge .badge-bottom{float: left; width: 100%; font-size: 16px; padding: 5px}
	.page.landing .badge .badge-bottom a{display: inline-block; width: 100%; padding: 6px; text-decoration: none; border-radius: 5px; background-color: #2e3e50; text-align: center; color: #fff}
	.page.landing .badge .badge-bottom a:hover{background-color: #55758e}


/*GEEVV CITY*/
.ap-input, .ap-hint{border-radius: 50px; padding: 0 35px 0 15px}


.page.city{position: relative; z-index: 2; background:url(/static/assets/img/geevvcity/bg.png)center no-repeat; background-size: cover; margin-bottom: 0; border-bottom: 10px solid #8DC449}
.page.city .logo{margin-top: 50px}
.page.city .logo .centered{width: 400px;}
.page.city .logo .tag-line{width: 45%; margin: 30px auto 0 auto;}
.page.city .search-form{margin: 40px 0 15px 0;}
.page.city .search-form .centered{width: 700px;}
.page.city .btn-value button{border: none; padding: 10px 20px; font-weight: 600; font-size: 14px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; cursor: pointer;}
.page.city .btn-value button:hover{background: #7BB132;}
.page.city .tag-line{margin: 50px 0 20px 0;}
.page.city .tag-line strong{font-size: 20px; color: #878787}
.page.city .right-header .login-right span{float: left; background: #8DC449; border-radius: 50px; border: 1px solid #8DC449; padding: 10px 20px; margin: 0; color: #fff;}
.page.city .list-cat{width: 80%}
.page.city .list-cat ul{text-align: center; display: block;}
.page.city .list-cat ul li{display: inline-flex; width: 85px; text-align: center; margin: 10px 12px 10px 0;}
.page.city .list-cat ul li:last-child{margin-right: 0px}
.page.city .list-cat ul li .img{width: 90%; border: 3px solid #FA5C6F; border-radius: 100%; margin-bottom: 10px}
.page.city .list-cat ul li:hover .img{background: #FA5C6F;}
.page.city .list-cat ul li .img img{padding: 15px;}
.page.city .list-cat ul li:hover .img img{filter: brightness(0) invert(1);}
.page.city .list-cat ul li span{font-size: 14px}
	.page.city-map{margin-bottom: 0;}
	.page.city-map .menu{visibility: hidden; position: absolute; right: 0; top: 20px; z-index: 2;}
	.page.city-map .menu.active{visibility: visible;}
	.page.city-map .menu .ic-menu{background: #fff; box-shadow: 2px 0 25px 0 rgba(0,0,0,0.3); border-radius: 50px 0 0 50px; padding: 5px 30px 15px 30px;}
	.page.city-map .menu .ic-menu img{width: 17px; display: inline-block; margin: 10px 10px -4px 0}
	.page.city-map .menu .ic-menu span{font-size: 30px; font-weight: bold; color: #2C3F50;}
	.page.city-map .logo{width: 70px; height: 100%; background: #fff; z-index: 2;}
	.page.city-map .logo::after{content: ''; box-shadow: 2px 0 25px 0 rgba(0,0,0,0.15); height: 100%; position: absolute; right: 0; top: 0; bottom: 0; width: 70px; z-index: -1;}
	.page.city-map .logo ul li{border-bottom: 1px solid #ddd;}
	.page.city-map .logo ul li a img{padding: 20px;}
	.page.city-map .logo ul li a span{font-size: 10px; font-weight: bold; color: #2C3F50; margin: -10px auto 0px auto; padding-bottom: 20px;}
	.page.city-map .logo .btn{visibility: hidden; position: absolute; top: 50%; right: -60px; width: 60px; height: 60px; margin-top: -30px}
	.page.city-map .logo .btn-col.active .btn{visibility: visible;}
	.page.city-map .logo .btn{position: absolute; top: 50%; right: -60px; width: 60px; height: 60px; margin-top: -30px}
	.page.city-map .logo .btn .btn-ins{border-radius: 0 50px 50px 0; box-shadow: 2px 0 25px 0 rgba(0,0,0,0.3); padding: 10px 20px; background: #8DC449;}
	.page.city-map .marker{top: 30%; right: 50%;}
	.page.city-map .marker a img{width: 40px}
	.page.city-map .btn-col-test{left: 370px; top: 50%; width: 60px; margin-top: -30px; z-index: 2; visibility: hidden;}
	.page.city-map .btn-col-test.active{visibility: visible;}
	.page.city-map .btn-col-test .btn-ins img{transform: rotate(180deg);}


/*.page.city-map .menu-open{position: absolute; right: 0; top: 20px; height: 60px; z-index: 2; background: #fff; box-shadow: 2px 0 25px 0 rgba(0,0,0,0.3); border-radius: 50px 0 0 50px; padding: 14px;}*/
.page.city-map .menu-open{ visibility: hidden; right: 0; position: absolute; top: 20px; height: 62px; z-index: 2; background: #fff; box-shadow: 2px 0 25px 0 rgba(0,0,0,0.3); border-radius: 50px 0 0 50px; padding: 14px;}
.page.city-map .menu-open.active { visibility: visible; }
.page.city-map .menu-open .ic-menu{width: 30px; margin-bottom: 6px; display: inline-block;}
.page.city-map .menu-open .list-menu{display: inline-block;}
.page.city-map .menu-open .list-menu ul li{float: left; position: relative; margin: 0 10px 0 10px;}

.page.city-map .menu-open .list-menu ul li .txt-list{position: absolute; top: 55px; left: 50%; /*background: #4db74e; */background: #fff;/* color: #fff;*/ color: #000; padding: 5px 10px; font-size: 12px; text-align: center; border-radius: 5px; visibility: hidden; width: 80px; margin-left: -40px;}
.page.city-map .menu-open .list-menu ul li .txt-list::after{bottom: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute;/* border-bottom-color: #4db74e;*/ border-bottom-color: #fff; border-width: 10px; margin-left: -10px}
.page.city-map .menu-open .list-menu ul li .img{width: 40px; border: 3px solid #FA5C6F; border-radius: 100%; padding: 6px; margin-top: -8px;}
.page.city-map .menu-open .list-menu ul li:hover .txt-list{visibility: visible;}
.page.city-map .menu-open .list-menu ul li:hover .img{background: #FA5C6F;}
.page.city-map .menu-open .list-menu ul li:hover .img img{filter: brightness(0) invert(1);}

.page.city-map .menu-open .list-menu ul li.active .txt-list{visibility: visible;}
.page.city-map .menu-open .list-menu ul li.active .img{background: #FA5C6F;}
.page.city-map .menu-open .list-menu ul li.active .img img{filter: brightness(0) invert(1);}

.page.city-map .menu-open .txt-menu{position: relative; top: -16px; display: inline-block;}
.page.city-map .menu-open .txt-menu span{border: 1px solid #ddd; border-radius: 5px; padding: 5px 15px; font-size: 12px;}
	

	.page.city-map .btn-col{visibility: hidden;}
	.page.city-map .btn-col.active{visibility: visible;}
	.page.city-map .btn-col-open{visibility: hidden; left: 70px; width: 300px; height: 100%; z-index: 2; box-shadow: 2px 0 25px 0 rgba(0,0,0,0.15); background: #2C3F50; overflow: auto; height: 100%}
	.page.city-map .btn-col-open.active{visibility: visible;}
	.page.city-map .btn-col-open .box-list{margin-top: 90px}
	.page.city-map .btn-col-open li{padding: 10px 10px 0 10px; float: left;}
	.page.city-map .btn-col-open li .list-ins{padding: 10px; border-radius: 8px; background: #fff; border: 2px solid transparent;}
	.page.city-map .btn-col-open li:hover .list-ins{border-color: #a5cc00;}
	.page.city-map .btn-col-open li .ttl-img .img{float: left; width: 30%;}
	.page.city-map .btn-col-open li .ttl-img .img img{border-radius: 5px}
	.page.city-map .btn-col-open li .ttl-img .txt-icon{float: right; width: 67%;}
	.page.city-map .btn-col-open li .ttl-img h2{font-size: 14px; font-weight: bold; margin-bottom: 5px}
	.page.city-map .btn-col-open li .ttl-img h3{font-size: 10px; color: #9B9B9B;}
	.page.city-map .btn-col-open li .ttl-img .icon{margin-top: 5px}
	.page.city-map .btn-col-open li .ttl-img .icon .img{width: 30px; display: inline-block; border: 2px solid #FA5C6F; border-radius: 100%; padding: 5px;}
	.page.city-map .btn-col-open li .ttl-img .icon span{display: inline-block; font-size: 12px; margin: 8px 0 0 5px;}
	.page.city-map .btn-col-open li .contact-list{padding: 10px 0; border-bottom: 1px solid #cacaca; border-top: 1px solid #cacaca; margin: 10px 0;}
	.page.city-map .btn-col-open li .contact-list .mail{font-size: 14px; padding-bottom: 10px; border-bottom: 1px solid #cacaca;}
	.page.city-map .btn-col-open li .contact-list .mail a:hover{color: #8DC449}
	.page.city-map .btn-col-open li .contact-list .phone{margin-top: 10px;}
	.page.city-map .btn-col-open li .contact-list .phone span{float: left; font-size: 14px; padding-right: 15px; border-right: 1px solid #cacaca;}
	.page.city-map .btn-col-open li .contact-list .phone span:last-child{float: right; padding-right: 0px; border-right: none;}
	.page.city-map .btn-col-open li .desc{font-size: 12px; text-align: justify;}
	.page.city-map .btn-col-open li .contact-btn{margin: 20px 0 10px 0;}
	.page.city-map .btn-col-open li .contact-btn a{border-radius: 100px; background-color: #8DC449; box-shadow: 2px 0 10px 0 rgba(0,0,0,0.15); padding: 10px 30px; color: #fff;}
	.page.city-map .btn-col-open li .contact-btn a:hover{background-color: #2C3F50;}
	.page.city-map .btn-col-open .btn{position: absolute; top: 50%; left: 300px; width: 60px; height: 60px; margin-top: -30px}
	.page.city-map .btn-col-open .search-form{position: fixed; width: 283px; padding: 10px 0; background: #2C3F50;}
	.page.city-map .btn-col-open .search-form .container{width: 93%}
	.page.city-map .btn-col-open .search-form .form-input:hover{box-shadow: none;}
	.page.city-map .btn-col-open .search-form .form-control{width: 85%; border: none; border-radius: 50px; padding: 10px 5px 10px 15px; font-size: 14px;}
	.page.city-map .btn-col-open .search-form img{float: right; width: 17px; margin: 10px 7px 10px 5px;}
	.page.city-map .btn-col-open .search-form .sort-by{margin-top: 10px}
	.page.city-map .btn-col-open .search-form .sort-by select{position: relative; width: 30%; padding: 0 5px}
	.page.city-map .btn-col-open .search-form .sort-by span{color: #fff; margin-right: 10px; font-size: 14px}
	/*.page.city-map .btn{position: absolute; visibility: hidden;}*/
	.page.city-map .btn .btn-ins{border-radius: 0 50px 50px 0; box-shadow: 2px 0 25px 0 rgba(0,0,0,0.3); padding: 10px 20px; background: #8DC449;}


.list-ins-popup{padding: 10px; border-radius: 5px; background: #fff;}
.list-ins-popup .ttl-img h2{font-size: 20px; font-weight: bold; margin-bottom: 5px}
.list-ins-popup .ttl-img h3{font-size: 14px; color: #9B9B9B;}
.list-ins-popup .info-txt{border-radius: 5px; background: #ddd; margin-top: 10px}
.list-ins-popup .contact-list{padding: 5px 0; border-bottom: 1px solid #fff;}
.list-ins-popup .contact-list .mail{font-size: 14px; padding-bottom: 5px; border-bottom: 2px solid #fff;}
.list-ins-popup .contact-list .mail a:hover{color: #8DC449}
.list-ins-popup .contact-list .phone{margin-top: 5px;}
.list-ins-popup .contact-list .phone span{float: left; font-size: 14px; padding: 0px 10px;}
.list-ins-popup .contact-list .phone span:last-child::after{content: ''; position: absolute; width: 0; height: 28px; top: -5px; left: 122px; border: 1px solid #fff;}
.list-ins-popup .desc{font-size: 12px; text-align: justify;}
.list-ins-popup .contact-btn{margin: 20px 0 10px 0;}
.list-ins-popup .contact-btn a{border-radius: 100px; background-color: #8DC449; box-shadow: 2px 0 10px 0 rgba(0,0,0,0.15); padding: 10px 30px; color: #fff;}
.list-ins-popup .contact-btn a:hover{background-color: #2C3F50;}

.step{margin-top: 60px;}
.step ul{width: 100%;}
.step ul li{float: left; width: 33.33%; text-align: center;}
.step ul li .img{width: 250px; display: inline-block;}
.step ul li .img img{min-height: 200px}
.step ul li .desc{margin-top: 10px;}
.step ul li .desc span{display: block; font-size: 16px;}

.header {padding: 10px 0;}
.header .container{width: 97%}
.header .logo{margin: 8px 20px 0 0; width: 125px;}
.header .search-form{width: 50%;}

.nav-bar{border-bottom: 1px solid #ddd; margin-bottom: 10px}
	.nav-bar .menu ul{margin: 0 0 0 -7px}
	.nav-bar .menu ul li{float: left; margin-right: 20px;}
	.nav-bar .menu ul li:last-child{margin-right: 0;}
	.nav-bar .menu ul li a{float: left; font-size: 14px; color: #777; padding: 15px 8px; border-bottom: 3px transparent}
	.nav-bar .menu ul li a:hover{color: #444;}
	.nav-bar .menu ul li a.active{color: #88c337; border-bottom: 3px solid #88c337; font-weight: 500}
.nav-bar .filter-btn{margin-left: 20px; padding: 10px 0;}
.nav-bar .filter-btn a{float: left; font-size:13px;  padding: 5px 20px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; border: 1px solid #ddd;}
.nav-bar .left-header{margin: 14px 0 0 34px;}

/*search*/
.page.search .img-content{float: left; width: 100%; border-bottom: 1px solid #ddd; padding: 0px; margin:10px 0;}


/*suggestion*/
.page .suggestion{float: left; width: 100%; margin-bottom: 20px; color: #222;}
.page .suggestion .suggest-ins{width: 100%; display: inline-block; font-size: 18px;}
.page .suggestion .suggest-ins a{color: #1a0dab; font-style: italic; font-weight: 600}
.page .suggestion .suggest-ins:last-child{font-size: 16px; margin-top: 3px;}
.page .suggestion .suggest-ins:last-child a{font-weight: 500;}

/*page_404*/
.page.page_404{text-align: center;}
.page.page_404 .img {margin-top: 5%;}
.page.page_404 .img .centered{width: 50%;}
.page.page_404 .txt div { margin: 20px 0; font-size: 2pc; font-weight: 600; text-transform: uppercase; color: #2e3c51}
.page.page_404 .txt p { margin: 20px 0; font-size: 14pt; font-weight: normal; color: #2e3c51}
.page.page_404 .btn a{background: #89c929; padding: 10px 20px; font-size: 1pc; color: #fff; border-radius: 5px;}

/*page_503*/
.page.page_503{text-align: center;}
.page.page_503 .img {margin-top: 5%;}
.page.page_503 .img .centered{width: 70%;}
.page.page_503 .txt div { margin: 20px 0; font-size: 2pc; font-weight: 600; text-transform: uppercase; color: #2e3c51}
.page.page_503 .txt p { margin: 20px 0; font-size: 14pt; font-weight: normal; color: #2e3c51}
.page.page_503 .btn a{background: #89c929; padding: 10px 20px; font-size: 1pc; color: #fff; border-radius: 5px;}


	/*s_pages*/
	.page.s_pages .left-col{margin-left: -30px}
	.page.s_pages .nav-bar .menu{margin-left: -30px}

	.page.s_pages .container{width: 70%}
	.page.s_pages .left-col .result-value{margin-bottom:15px; padding-bottom: 10px; font-size: 13px; border-bottom: 1px solid #ddd;}
	.page.s_pages .left-col .result-list{border-bottom: 1px solid #ddd;}
	
	.page.s_pages .left-col .result-list .list-ins{margin-bottom: 20px; }
	.page.s_pages .left-col .result-list .list-ins .img{width: 120px; margin-right: 10px; position: relative;}

	.page.s_pages .left-col .result-list .list-ins .list{line-height: 1.4;}

		.page.s_pages .left-col .result-list .list-ins .list .title a{font-size: 18px; color: #1a0dab; line-height: 1em}
		.page.s_pages .left-col .result-list .list-ins .list .title a:hover{text-decoration: underline;}
		.page.s_pages .left-col .result-list .list-ins .list .title a:visited{color: #551a8b;}
		.page.s_pages .left-col .result-list .list-ins .list .title a:active{color: #551a8b;}
		
		.page.s_pages .left-col .result-list .list-ins .list .link{margin-top: -3px}
		.page.s_pages .left-col .result-list .list-ins .list .link a{font-size: 14px;}
		.page.s_pages .left-col .result-list .list-ins .list .link span{font-size: 14px;}
		.page.s_pages .left-col .result-list .list-ins .list .link span:nth-child(2){margin: 0 3px;}
		.page.s_pages .left-col .result-list .list-ins .list .link .ads_search{background: #88c337; color: #fff; padding: 0 2px; border-radius: 2px; font-size: 12px; display: inline-block;}
		
		.page.s_pages .left-col .result-desc{font-size: 13px; margin-top: 5px; line-height: 18px; overflow: hidden;}
		
	.page.s_pages .left-col .spellcheck{margin-bottom: 20px; color: #222;}
	.page.s_pages .left-col .spellcheck .spellcheck-ins{width: 100%; display: inline-block; font-size: 18px;}
	.page.s_pages .left-col .spellcheck .spellcheck-ins a{color: #1a0dab; font-style: italic; font-weight: 600;}
	.page.s_pages .left-col .spellcheck .spellcheck-ins:last-child a{font-weight: 500;}
	
		.page.s_pages .left-col .txt-right{float: right; width: 100%; text-align: right; padding: 10px 0}
		.page.s_pages .left-col .txt-right .disclaimer{font-size: 13px; color: rgba(0,0,0,.26);}

	.page.s_pages .right-col .ads{margin-bottom: 10px;}
	.page.s_pages .right-col .ads .title{margin-bottom: 2px;}
	.page.s_pages .right-col .ads .title a{color: #1a0dab; font-size: 18px; line-height: 1.2em;}
	.page.s_pages .right-col .ads .title a:hover{text-decoration: underline;}
	.page.s_pages .right-col .link span{float: left; font-size: 14px;}
	.page.s_pages .right-col .link span a{padding:0 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
	.page.s_pages .right-col .link span:last-child{margin: 0 3px;}
	.page.s_pages .right-col .link a{float: left; font-size: 13px;}
	.page.s_pages .right-col .ads-desc{font-size: 13px; margin-top: 3px; line-height: 1.3em;}
	.page.s_pages .right-col .ads .img-ads{margin-top: 10px;}
	.page.s_pages .right-col{width: 37%; margin-top: 30px;}
	

/*videos*/
.page.videos .left-col .result-list .list-ins .img{overflow: hidden; width: 150px; height: 100px; background: #000}
.page.videos .left-col .result-list .list-ins .img img{width: auto; height: 100%; margin: 0 auto; display: table;}
.page.videos .left-col .result-list .list-ins .img .duration{position: absolute; bottom: 0; right: 0; padding: 5px; background: rgba(0,0,0,0.5); color: #fff; font-size: 12px;}

/*pages images*/
.page.images{margin-top: 10px;}
.page.images .img-content{margin: 30px 10px 30px 10px;}

/*.page.images .img-block{position: static !important; top: 10px !important; left: 10px !important;  vertical-align: text-top ; margin-top: 10px; margin-left: 6px;}*/
.page.images .img-block{cursor: pointer; width: 15.5%; margin: 0.5%;}
/*.page.images .img-block a{cursor: pointer; position: relative; width: 100%; display: block;}*/
.page.images .img-block a{cursor: pointer;}
.page.images .img-block a .caption{opacity: 0; position: absolute; left: 0; right: 0; bottom: 0; text-overflow:ellipsis; overflow: hidden; white-space: nowrap; background: rgba(0,0,0,0.7); color: #fff; padding: 5px;  font-size: 11px;}
.page.images .img-block a:hover .caption{opacity: 1;}

.expand{margin-bottom: 460px;}
.expand .detail-img{display: block;}

.page.images .img-block .detail-img{display: none; position: absolute; left: 0; right: 0; height: 430px; background: #000; margin-top: 20px; padding: 30px;}
.page.images .img-block .detail-img .img-thumb{float: left; width: 50%; overflow: auto;}
.page.images .img-block .detail-img .img-thumb img{height: 350px; width: auto; margin: 0 auto;}
.page.images .img-block .detail-img .title-desc-btn{float: right; width: 45%; color: #fff; margin-top: 7%;}
.page.images .img-block .detail-img .title-desc-btn .title-desc .title-img{font-weight: 400; font-size: 22px}
.page.images .img-block .detail-img .title-desc-btn .title-desc .url{margin: 5px 0; font-size: 14px;}
.page.images .img-block .detail-img .title-desc-btn .title-desc .size-img{font-size: 14px;}
.page.images .img-block .detail-img .title-desc-btn .btn {margin-top: 20px;}
.page.images .img-block .detail-img .title-desc-btn .btn li{float: left;}
.page.images .img-block .detail-img .title-desc-btn .btn li a{width: auto; display: inline-block; border: 1px solid #fff; padding: 8px 18px; margin-right: 10px; color: #fff; font-size: 14px;}
.page.images .img-block .detail-img .title-desc-btn .btn li a:hover{background: #fff; color: #000}
.page.images .img-block .detail-img .ic-close{position: absolute; right: 30px; top: 30px; width: 25px}
.page.images .img-block.expand{margin-bottom: 460px}
/*.page.images .my-gallery-class li{width: 15.5%; margin: 0.5%;}*/


/*signup*/
.page.signup{background:url(/static/assets/img/bg.jpg)center no-repeat; background-size: cover; margin: 0}
	.page.signup .box-left{width: 60%}
	.page.signup .box-left h2{margin-left: 10px; display: inline-block; font-size: 15px; font-weight: bold}
	.page.signup .box-left i{font-weight: bold}
	.page.signup .box-left a{float: left; padding: 10px}
	.page.signup .box-left .img-left .container{width: 64.3%;}
	.page.signup .box-left .img-left .container img:first-child{width: 70%; margin: 38px auto;}
.page.signup .box-right{width: 40%; background: #2D3E51; height: 648px}
.page.signup .box-right .form-group .ttl-page{margin: 30px 0 15px 0; color: #fff; font-weight: 700}
.page.signup .box-right .form-group .form-ins{margin: 25px -50px; border-radius: 50px; overflow: hidden;}
.page.signup .box-right .form-group .form-ins:last-child{margin-top: 40px}
.page.signup .box-right .form-group .form-ins input:focus{outline: inherit; outline-offset: inherit; border: 1px solid #2B3F50;}
.page.signup .box-right .form-group .form-ins :hover{box-shadow: none}
.page.signup .box-right .form-group .form-ins input{width: 100%; border: none; padding: 10px; border-radius: 3px; font-size: 14px}
.page.signup .box-right .form-group .form-ins input.btn{width: 100%; background: #4db74e; color: #fff; padding: 15px; font-size: 24px; cursor: pointer;}
.page.signup .box-right .form-group .form-ins input.btn:hover{background: #378038}
.page.signup .box-right .btn-home{margin-top: -15px;}
.page.signup .box-right .btn-home h2{display: inline-block; margin-left: 5px; font-size: 12px; font-weight: 700; color: #55758E}
.page.signup .box-right .btn-home i{color: #55758E}
/*.page.signup .box-right .btn-home:last-child{margin: 0 auto}*/

/*login*/
.page.login{background:url(/static/assets/img/bg.jpg)center no-repeat; background-size: cover; margin: 0}
.page.login .container{margin: 40px auto}
.page.login .img img{width: 30%; margin: 15px auto 40px auto;}
	.page.login .box-login{width: 40%; background: #2D3E51; border-radius: 10px;}
	.page.login .box-login .form-group .ttl-page{margin: 17px 0 15px 0; color: #fff; font-weight: 700}
	.page.login .box-login .form-group .form-ins{margin: 20px 70px; border-radius: 50px; overflow: hidden;}
	.page.login .box-login .form-group .form-ins input[type=checkbox]{-webkit-appearance: checkbox; width: auto; margin-right: 10px; position: relative; top: 2px}
	.page.login .box-login .form-group .form-ins span{color: #fff; font-size: 14px}
	.page.login .box-login .form-group .form-ins input:focus{outline: inherit; outline-offset: inherit; border: 1px solid #2B3F50;}
	.page.login .box-login .form-group .form-ins :hover{box-shadow: none}
	.page.login .box-login .form-group .form-ins input{width: 100%; border: none; padding: 10px; border-radius: 3px; font-size: 14px}
	.page.login .box-login .form-group .form-ins input.btn{width: 100%; background: #4db74e; color: #fff; padding: 15px; font-size: 24px; cursor: pointer;}
	.page.login .box-login .form-group .form-ins input.btn:hover{background: #378038}
	.page.login .box-login .txt-down li{margin: -10px 0 25px 0;}
	.page.login .box-login .txt-down li a{font-size: 10px; color: #fff}
	.page.login .box-login .txt-down li a:hover{color: #8DC449; font-weight: 700}
	.page.login .box-login .txt-down li a h2{margin: 10px 0}
.page.login .btn-home h2{display: inline-block; margin: 30px 0 0 5px; font-size: 15px; font-weight: 700;}

/*forgot pass*/
	.page.forgotpass{background:url(/static/assets/img/bg.jpg)center no-repeat; background-size: cover; margin: 0}
	.page.forgotpass .container{margin: 40px auto}
	.page.forgotpass .img img{width: 30%; margin: 15px auto 40px auto;}
.page.forgotpass .box-forgotpass{width: 40%; height: 350px; background: #2D3E51; border-radius: 10px;}
.page.forgotpass .box-forgotpass .form-group .ttl-page{margin: 70px 0 10px 0; color: #fff; font-weight: bold}
.page.forgotpass .box-forgotpass .form-group .ttl-desc{font-size: 18px; margin-bottom: 15px; color: #fff;}
.page.forgotpass .box-forgotpass .form-group .form-ins{margin: 20px 70px; border-radius: 50px; overflow: hidden;}
.page.forgotpass .box-forgotpass .form-group .form-ins input:focus{outline: inherit; outline-offset: inherit; border: 1px solid #2B3F50;}
.page.forgotpass .box-forgotpass .form-group .form-ins :hover{box-shadow: none}
.page.forgotpass .box-forgotpass .form-group .form-ins input{width: 100%; border: none; padding: 10px; border-radius: 3px; font-size: 14px}
.page.forgotpass .box-forgotpass .form-group .form-ins input.btn{width: 100%; background: #4db74e; color: #fff; padding: 15px; font-size: 24px; cursor: pointer;}
.page.forgotpass .box-forgotpass .form-group .form-ins input.btn:hover{background: #378038}
.page.forgotpass .box-forgotpass .txt-down li{margin-bottom: 10px}
.page.forgotpass .box-forgotpass .txt-down li a{font-size: 10px; color: #fff}
.page.forgotpass .box-forgotpass .txt-down li a h2{margin: 10px 0}
.page.forgotpass .btn-home h2{display: inline-block; margin: 30px 0 0 5px; font-size: 15px; font-weight: 700;}

/*faq*/
.content.faq .list-faq{margin-top: 40px}
.content.faq .img-faq img{width: 100px; padding-bottom: 40px;}
.content.faq .ttlpage{color: #2e3e50; font-size: 35px; position: relative; margin-top: 40px; padding-bottom: 20px; text-transform: capitalize;}
.content.faq .ttlpage span:first-child{font-weight: bold;}
.content.faq .ttlpage::after{content: ''; position: absolute; left: 0; bottom: -5px; height: 10px; width: 100px; background: #88c337;}
.content.faq .question{padding-bottom: 10px; border-bottom: 1px solid #ddd}
.content.faq .question:last-child{border: none}
.content.faq .question h2{float: left; margin: 0; font-size: 18px}
.content.faq .question .ttl{color: #8DC449; font-size: 18px; font-weight: 500; cursor: pointer;}
.content.faq .question .ttl:hover{color: #2E3E50;}
.content.faq .question .jwbn{font-size: 14px; font-weight: 300; letter-spacing: 0.3px; line-height: 1.4em; color: #333; margin-top: 10px}

/*privasi*/
.content.privasi .ttlpage{color: #2e3e50; font-size: 35px; position: relative; margin-top: 40px; padding-bottom: 20px; text-transform: capitalize;}
.content.privasi .ttlpage span:first-child{font-weight: bold;}
.content.privasi .ttlpage::after{content: ''; position: absolute; left: 0; bottom: -5px; height: 10px; width: 100px; background: #88c337;}
.content.privasi .list-privasi{margin-top: 40px}
.content.privasi .list-privasi p{margin: 20px 0}
.content.privasi .list-privasi p strong{color: #88C337}
.content.privasi .img-privasi img{width: 100px; padding-bottom: 40px;}

/*syarat dan ketentuan*/
.content.snk .ttlpage{color: #2e3e50; font-size: 35px; position: relative; margin-top: 40px; padding-bottom: 20px; text-transform: capitalize;}
.content.snk .ttlpage span:first-child{font-weight: bold;}
.content.snk .ttlpage::after{content: ''; position: absolute; left: 0; bottom: -5px; height: 10px; width: 100px; background: #88c337;}
.content.snk .list-snk{margin-top: 40px}
.content.snk .list-snk p{margin: 20px 0}
.content.snk .list-snk p strong{color: #88C337}
.content.snk .img-privasi img{width: 100px; padding-bottom: 40px;}

/*kebijakan cookies*/
.content.cookie .ttlpage{color: #2e3e50; font-size: 35px; position: relative; margin-top: 40px; padding-bottom: 20px; text-transform: capitalize;}
.content.cookie .ttlpage span:first-child{font-weight: bold;}
.content.cookie .ttlpage::after{content: ''; position: absolute; left: 0; bottom: -5px; height: 10px; width: 100px; background: #88c337;}
.content.cookie .list-cookie{margin-top: 40px}
.content.cookie .list-cookie p{margin: 20px 0}
.content.cookie .list-cookie p strong{color: #88C337}
.content.cookie .img-privasi img{width: 100px; padding-bottom: 40px;}

/*kontak kami*/
.content.contact-us .img-privasi img{width: 100px; padding: 40px 0;}
.content.contact-us .content-ins-page .ttlpage{color: #2e3e50; font-size: 35px; position: relative; margin-top: 40px; padding-bottom: 20px; text-transform: capitalize;}
.content.contact-us .content-ins-page .ttlpage span:first-child{font-weight: bold;}
.content.contact-us .content-ins-page .ttlpage::after{content: ''; position: absolute; left: 0; bottom: -5px; height: 10px; width: 100px; background: #88c337;}
	.content.contact-us .contact-ins{ margin: 50px 0 30px 0;}
	.content.contact-us .contact-ins .list-contact{width: 100%; font-size: 20px; background: #88c337; padding: 30px 15px; color: #fff; border-radius: 10px;}
	.content.contact-us .contact-ins .list-contact h3{margin-bottom: 10px}
	.content.contact-us .contact-ins .list-contact .contact-detail{display: inline-block; margin: 10px 30px}
	.content.contact-us .contact-ins .list-contact .contact-detail .ic i{font-size: 25px}
	.content.contact-us .contact-ins .list-contact .contact-detail span{margin-left: 5px}
	.content.contact-us .contact-ins .list-contact .contact-detail a{color: #fff}
	.content.contact-us .contact-ins .list-contact .contact-detail a:hover{color: #2C3F50}
.content.contact-us .map-form .map{width: 50%}
.content.contact-us .map-form .form{width: 45%}
.content.contact-us .map-form .form .ttl-page{font-weight: bold;}
.content.contact-us .map-form .form .sosmed{margin: 20px 0}
.content.contact-us .map-form .form .sosmed li{float: left; margin: 10px 25px; font-size: 22px;}
.content.contact-us .map-form .form .sosmed li:first-child{margin-left: 0;}
.content.contact-us .map-form .form .sosmed li a{float: left; padding: 10px 15px; border-radius: 100%; color: #fff}
.content.contact-us .map-form .form .sosmed li .fb{padding: 10px 18px; background: #3b5998;}
.content.contact-us .map-form .form .sosmed li .fb:hover{background: #4b67a1}
.content.contact-us .map-form .form .sosmed li .twt{background: #00b6f1;}
.content.contact-us .map-form .form .sosmed li .twt:hover{background: #02acee;}
.content.contact-us .map-form .form .sosmed li .in{background: #c32aa3}
.content.contact-us .map-form .form .sosmed li .in:hover{background: #d14db4}
.content.contact-us .map-form .form .sosmed li .li{background: #006699}
.content.contact-us .map-form .form .sosmed li .li:hover{background: #007bb6}
    .content.contact-us .map-form .form .form-group .form-ins label{color: #88C337; width: 100%; display: inline-block; margin-bottom: 5px; font-size: 16px; font-weight: bold;}
    .content.contact-us .map-form .form .form-group .form-ins .form-input{width: 100%; margin-bottom: 10px; border: none; border-radius: 0;}
    .content.contact-us .map-form .form .form-group .form-ins .form-input:hover{box-shadow: none;}
    .content.contact-us .map-form .form .form-group .form-ins .form-input input{width: 100%; border: 1px solid #676767; padding: 8px; border-radius: 3px; font-size: 14px}
    .content.contact-us .map-form .form .form-group .form-ins .form-input textarea{width: 100% !important; border: 1px solid #676767; padding: 8px; border-radius: 3px;}
    .content.contact-us .map-form .form .form-group .form-ins input.btn{width: 30%; background: #88c337; border: 0; color: #fff; padding: 11px; font-size: 20px; font-weight: bold; cursor: pointer;}
    .content.contact-us .map-form .form .form-group .form-ins input.btn:hover{background: #2C3F50}

/*laporan*/
.content.laporan .title-content{color: #fff; font-size: 35px; font-weight: bold; padding: 20px; margin-bottom: 50px}
	.content.laporan .container{width: 60%;}
	.content.laporan .total li{display: inline-block; padding: 0 50px; margin-bottom: 50px;}
	.content.laporan .total li::after{content: ''; width: 0; height: 25vh; position: absolute; border: 2px solid #999999; top: -15%; left: 49.5%;}
	.content.laporan .total li .tag-line{margin-bottom: 5px}
	.content.laporan .total li .tag-line span{font-size: 24px; font-weight: bold;}
	.content.laporan .total li .count{color: #fff; background: #55758E;; font-size: 24px; padding: 20px 35px; border-radius: 10px;}
.content.laporan .riwayat .title h2{font-size: 60px; color: #BA0000; margin-bottom: 0}
.content.laporan .riwayat .title{font-size: 36px; font-weight: bold; margin: 40px 30px 50px 30px;}
.content.laporan .riwayat .list-riwayat{width: 100%; border: 1px solid #ddd; border-radius: 3px; background: #fff; padding: 10px; margin-bottom: 10px}
.content.laporan .riwayat .box-riwayat{width: 72px}
.content.laporan .riwayat .txt-detail{margin-left: 20px; display: inline-block;}
.content.laporan .riwayat .txt-detail h2{font-size: 24px; font-weight: bold;}
.content.laporan .riwayat .txt-detail .date{font-size: 18px; font-weight: normal;}
.content.laporan .riwayat .txt-detail .total{font-size: 20px; font-weight: bold; color: #8CC63F;}
	.content.laporan .btn-loadmore{padding: 50px 0;}
	.content.laporan .btn-loadmore a{border: 2px solid #8CC63F; border-radius: 5px; color: #8CC63F; padding: 20px 50px; font-weight: bold;}
	.content.laporan .btn-loadmore a:hover{background: #8CC63F; color: #fff}
.content.laporan .img-privasi img{width: 100px; padding: 10px 0 50px 0;}

/*pages themes*/
.page.themes{margin: 50px 0;}
.page.themes .container{width: 980px;}
.page.themes .title-page{width: 100%; display: inline-block; color: #2e3e50; text-transform: uppercase; font-size: 35px; position: relative;}
.page.themes .title-page::after{content: ''; position: absolute; left: 0; bottom: -5px; height: 5px; width: 200px; background: #88c337}
.page.themes .content-themes{float: left; width: 100%; margin-top: 50px;}
.page.themes .content-themes .desc-themes{width: 100%; display: block; line-height: 1.3em; font-weight: 300}
.page.themes .content-themes .desc-themes p{margin: 10px 0;}
.page.themes .content-themes .desc-themes strong{color: #88c337; font-size: 18px;}

.rc-collapse{float: left; width: 100%; padding: 0; margin: 0; margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #ddd;}
.rc-collapse-item{width: 100%; list-style: none; float: left;}
.rc-collapse-item .ttl-faq a{color: #88c337; font-size: 18px; font-weight: 500}
.rc-collapse-item .ttl-faq a:hover{color: #2e3e50}
.rc-collapse-item .desc-faq{font-size: 16px; font-weight: 300; letter-spacing: 0.3px; margin-top: 5px; line-height: 1.4em}

.page.send-feedback .content-themes .form-group .form-ins {margin-bottom: 15px;}
.page.send-feedback .content-themes .form-group .form-ins input{width: 100%; display: inline-block; border: 1px solid #2e3e50; padding: 10px; font-size: 13px; font-weight: 300}
.page.send-feedback .content-themes .form-group .form-ins textarea{width: 100%; display: inline-block; border: 1px solid #2e3e50; padding: 10px; font-size: 13px; font-weight: 300}
.page.send-feedback .content-themes .form-group .form-ins input.btn{width: inherit; border: 0; padding: 10px 30px; background: #88c337; color: #fff; font-weight: 500; cursor: pointer;}
.page.send-feedback .content-themes .form-group .form-ins input.btn:hover{background: #2e3e50}

.caption-title{width: 50%; display: inline-block; color: #fff; padding-left: 10%; vertical-align: middle; text-align:left;}
.caption-title .i_title{float: left; font-size: 18px; width: 100%; color: #fff; line-height: 1.5em;}
.caption-title .i_url{float: left; width: 100%; color: #fff; line-height: 1.5em;}
.caption-title .i_url a{font-size: 13px; color: #fff; float: left;}
.caption-title .i_url a:hover{text-decoration: underline;}
.caption-title .i_size{float: left; width: 100%; font-size: 13px; color: #fff; line-height: 1.5em; margin-bottom:40px;}
.caption-title .i_btn{float: left; color: #fff;}
.caption-title .i_btn li{float: left; margin-right: 10px;}
.caption-title .i_btn li:last-child{margin-right:0;}
.caption-title .i_btn li a{color: #fff; padding: 8px; font-size: 13px; border:1px solid #fff;}
.caption-title .i_btn li a:hover{background: #2d2d2d;}


.page.images .img-block .next-prev{float: left; width: 95%;  position: absolute; top: 45%}
.page.images .img-block .next-prev a{float: right; width: 20px;}
.page.images .img-block .next-prev a:last-child{float: left; width: 20px;}

.question.active .jwbn{
  max-height: 200px;
  overflow: hidden;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.question .jwbn{
  max-height: 0;
  overflow: hidden;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.kontak-maps {
  height: 600px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  /*pointer-events: none;*/
}
@media screen and (max-width: 900px){
	.container{width: 90%}
	.page.themes .container{width: 90%}

	.pagination ul li{display: none;}
	.pagination ul li.active{display: block;}
	.pagination ul li:last-child{display: block;}
	.pagination ul li:first-child{display: block;}

	.page.about section.problem-while .problems ul.list-problems{width: 90%;}
}


@media screen and (max-width: 980px){

	.page.about section{min-height: inherit;}
	.page.about .mision-list li{height: 250px;}
	.page.about .mision-list li .ic{margin: 0px 0 20px 0;}
	.page.about .mision-list li .value h3{font-size: 18px;}
	.page.about .mision-list li .desc span{font-size: 15px;}
	.mobile{display: block !important;}
	.desktop{display: none !important;}
	.feedback .centered{width: 40%;}
	.content.faq .question .ttl i{display: none;}
	
	.new-footer .box-footer ul{width: 100%;}
	.new-footer .box-footer li{width: 100%; text-align: center; margin-bottom: 40px;}
	.new-footer .box-footer li:last-child{width: 100% !important;}
	
	.page.about section.content-what .content-left{display: none;}
	.page.about section.content-what .content-right{position: relative; right: 0; top: 30px; width: 100%;}
	.page.about section.content-what .content-right .title-content{font-size: 40px; text-align: center;}
	.page.about section.content-what .content-right .desc{text-align: center;}

	.page.about section.work-content .works .about-title{font-size: 40px; margin-top: 30px;}
	.page.about section.work-content .step ul li .img img{min-height: auto}

	.page.about section.problem-while .ttl{margin-bottom: 10px;}
	.page.about section.problem-while .problems{width: 100%; text-align: center;}
	.page.about section.problem-while .problems .about-title{font-size: 40px}
	.page.about section.problem-while .problems ul.list-problems li{ margin: 0; margin-bottom: 40px; width: 100%;}
	.page.about section.problem-while .problems ul.list-problems li .img{margin: 0 auto; display: table; float: none; width: 150px;}
	.page.about section.problem-while .problems ul.list-problems li .title-desc{width: 100%;}
	.page.about section.problem-while .problems ul.list-problems li .title-desc .title-list{font-size: 25px}
	.page.about section.problem-while .problems ul.list-problems li .title-desc .desc-list{font-size: 15px}

		.page.about section.problem-while .problems ul.list-problems li:nth-child(even){ margin: 0; margin-bottom: 40px; width: 100%;}
		.page.about section.problem-while .problems ul.list-problems li:nth-child(even) .img{margin: 0 auto; display: table; float: none; width: 150px;}
		.page.about section.problem-while .problems ul.list-problems li:nth-child(even) .title-desc{width: 100%;}
		.page.about section.problem-while .problems ul.list-problems li:nth-child(even) .title-desc .title-list{font-size: 25px}
		.page.about section.problem-while .problems ul.list-problems li:nth-child(even) .title-desc .desc-list{font-size: 15px}
	
	.page.about section.problem-while .while{width: 100%; text-align: center; background: #89c929; padding: 20px;}
	.page.about section.problem-while .while .desc-while{font-weight: 300; font-size: 18px;}
	.page.about section.problem-while::after{content: none;}

		.page .left-col{width: 100%;}
		.page.s_pages .right-col{display: none;}
		
	.page.signup .box-left{display: none;}
		.page.signup .box-right{width: 100%}
		.page.signup .box-right .btn-home{width: 100%; margin: 0 auto; text-align: center;}
		.page.signup .box-right .form-group .form-ins{margin: 20px auto;}
		.page.signup .box-right .form-group .ttl-page{font-size: 20px}

	.page.login .img img{width: 50%}
	.page.login .box-login{width: 100%}
	.page.login .box-login .form-group .ttl-page{font-size: 20px;}
	.page.login .box-login .form-group .ttl-desc{font-size: 14px}
	.page.login .box-login .form-group .form-ins{width: 80%; margin: 20px auto}

		.page.forgotpass .img img{width: 50%}
		.page.forgotpass .box-forgotpass{width: 100%}
		.page.forgotpass .box-forgotpass .form-group .ttl-page{font-size: 20px;}
		.page.forgotpass .box-forgotpass .form-group .ttl-desc{font-size: 14px}
		.page.forgotpass .box-forgotpass .form-group .form-ins{width: 80%; margin: 20px auto}

}

@media screen and (max-width: 800px){
	.header .search-form{width: 63%;}
	.page.about section{padding: 0;}
	.page.about .mision-list ul{display: table; margin: 0 auto; width: 50%;}
	.page.about .mision-list li{width: 100%; margin-bottom: 10px;}
	.page.about .report-list ul li{width: 100%; margin-bottom: 20px;}
	.page.about .report-list ul li .desc a{width: 100%; text-align: center;}
	.step ul{width: 100%;}
	.page.landing .search-form .centered{width: 100%;}
	
	body.Home .footer{display: none;}
	body.Home{background-position: bottom center;}

	.footer .copyright{width: 100%; text-align: center;}
	.footer ul{display: table; text-align: center; margin-bottom: 20px; width: 100%;}
	.footer ul li{display: inline-block; float: none; margin-right: 0; margin: 0 10px}
	.footer ul li a{font-size: 13px;}
	
	.content.faq .question h2{font-size: 22px; line-height: 1.3em}

	.header-about .txt{top: 35%;}
	
	.page.images .img-block{margin-left: 10px;}

	.page.images .img-block.expand{margin-bottom: 690px;}
	.page.images .img-block .detail-img{display: none; position: absolute; left: 0; right: 0; height: 660px; background: #000; margin-top: 20px; padding: 30px;}
	
	.page.images .img-block .detail-img .img-thumb{width: 100%; margin-top: 50px;}
	.page.images .img-block .detail-img .title-desc-btn{width: 100%;}

	.page.landing .badge{display: none}

}

@media screen and (max-width: 680px){
	body.Web, body.Images, body.News, body.Videos{background: #f1f1f1}

	/*.header{padding: 20px 0 0 0}*/
	.container{width: 95%}
	
	/*nav-bar*/
	.nav-bar{border-bottom: 0; margin-top: -20px}
	.nav-bar .container{background: #f8f8f8;display: table; padding: 0 17px; box-shadow: 0 1px 2px rgba(0,0,0,0.2); width: 94.7%; }
	.nav-bar .menu ul li{margin-right: 10px;}
	.nav-bar .menu ul li a{padding: 10px 8px}

	.page{margin-bottom: 0;}
	.page.s_pages .left-col .result-value{display: none;}
	.page.s_pages .left-col .result-list .list-ins{position: relative; background: #fff; padding: 11px 16px 11px 16px; box-shadow: 0 1px 2px rgba(0,0,0,0.2); border-radius: 2px;margin: 0 0 10px 0;}
	
	body.Web .page.s_pages .left-col .result-desc{display: block; border-top: 1px solid #ddd; padding: 10px 17px 0 17px; margin: 5px -17px 0px -16px}

	.page.s_pages .container{margin-top: 10px;}
	.page.s_pages .left-col .result-list{border-bottom: 0;}
	.page.s_pages .left-col .result-list .list-ins .list .title a{font-size: 17px}
	.page.s_pages .left-col .result-list .list-ins .list .link{width: auto}
	.page.s_pages .left-col .result-list .list-ins .list .link a{font-size: 13px}


	.pagination{margin: 10px 0;}
	.pagination ul li a, .pagination ul li span{border: 0; padding: 16px 21px; box-shadow: 0 1px 2px rgba(0,0,0,0.2); background: #fff; font-size: 16px;}
	.pagination ul li.active span{background: #fff;}

	
	.page .suggestion{background: #fff; padding: 17px; box-shadow: 0 1px 2px rgba(0,0,0,0.2); margin-bottom: 10px;}
	.page .suggestion .suggest-ins{font-size: 16px}
	.page .suggestion .suggest-ins:last-child{font-size: 14px}

	.header .logo{width: 90px; margin: 0;}
	.header .search-form{width: 100%; margin-top: 20px;}

	
	.footer{background: 0;}

	.page.about .mision-list ul{width: 70%;}
	.page.about .works .centered{width: 100%;}
	
	.step ul li .img{width: 100px;}
	.page .right-col{display: none;}
	
	.page.videos .left-col .result-list .list-ins .img{width: 120px; height: 70px;}
	.page.s_pages .left-col .result-list .list-ins .img{width: 85px}
	
	.g-40{width: 100%;}
	.g-20{width: 100%;}
	
	.right-sidebar{margin-top: 20px;}
	
	.page.about .def-search .content .title-content .title h2{font-size: 35px;}
	.page.about .def-search .content .title-content img{width: 90px; margin: 4px 7px 0 12px;}
	.page.about .def-search .content .desc h4{font-size: 15px;}
	.page.about .def-search .content .title-content .title{margin-bottom: 5px;}
	
	.feedback .centered{width: 65%;}
	
	.caption-title{padding: 10px;}
	.caption-title .i_title{width: 200px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
	.caption-title .i_url{width: 200px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
	
	.page.page_404{margin-top: 30%;}
	.page.page_404 .txt{font-size: 1pc;}

	.about-title{font-size: 30px;}

	.content.faq .ttlpage{font-size: 22px}
	.content.faq .ttlpage::after{width: 250px}
}


@media screen and (max-width: 480px){
	.form-control{padding: 10px 18px;}
	.header-about .txt h1{line-height: 1em; margin-bottom: 10px; font-size: 40px;}
	.header-about .txt h3{font-size: 18px;}
	.step ul{width: 50%;}
	
	.step ul li{width: 100%; margin-bottom: 30px;}
	.step ul li .img{width: 100%;}
	
	.page.about .works{margin: 20px 0 20px 0}
	.page.about .mision .mision-title-desc .centered{width: 100%;}
	.page.about .mision-list ul{margin: 0 auto; display: table; width: 80%;}
	.page.about .mision-list ul li{padding:30px; height: inherit;}
	.page.about .report-list{margin-top: 20px;}
	.page.about .def-search .content .title-content{font-size: 13px; margin-top: -30px;}
	.page.about .def-search .content .title-content .title h2{font-size: 25px;}
	.page.about .def-search .content .title-content img{width: 75px; margin: 0 5px;}
	.page.about .def-search .content .desc h4{font-size: 15px;}
	.page.about .def-search .share a:first-child{margin-right: 5px}
	
	.page.about .works span{font-size: 15px;}
	.header.Home .right-header{width: 100%; position: relative; top: 0; right: 0;}

	.page.landing .search-form .centered{width: 100%;}
	.page.landing .btn-value button{-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
	.page.landing .step{display: none;}
	.page.landing .search-form{margin: 30px 0 20px 0;}
	.page.landing .logo .centered{width: 150px;}
	.page.landing .count .num a{font-size: 25px}
	
	.caption-title{position: relative; z-index: 999; width: 100%; margin-top: 10px; display: block; text-align: left; padding-left: 20px;}
	.caption-title .i_title{width: 290px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
	.caption-title .i_url{width: 290px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
	.caption-title .i_btn{float: left;}
	.caption-title .i_btn li{float: left;}
	.caption-title .i_btn a{float: left; padding:15px !important;}
	.caption-title .i_size{margin-bottom:5px;}
	#swipebox-slider .slide img, #swipebox-slider .slide .swipebox-video-container{vertical-align: top; margin-top: 20px;}

	.footer-about .subcribe .form-group.centered{width: 300px}
	.footer-about .menu-footer li{float: none; margin: 10px auto; display: table;}
}	

@media screen and (max-width: 320px){
	.menu-ins .copyright{bottom: -70px !important}
}

/* Pop Up Event */
.btn-pop-parent {
	margin: 0 auto; 
	position: absolute; 
	bottom: 33%; 
	left: 0; 
	right: 0;
}

.btn-pop-join {
	background: #86c340; 
	padding: 10px 40px; 
	color: #fff; 
	font-size: 20px; 
	border-radius: 30px;
}

.btn-pop-close {
	background: #2c3f50;
	padding: 10px 40px;
	color: #fff;
	font-size: 20px;
	border-radius: 30px;
	margin-left: 40px;
}

.btn-pop-download {
	position: absolute;
	right: 22%;
	width: 15.5% !important;
}

.btn-pop-download img {
	position: relative;
	width: 100% !important;
}

@media(max-width: 1024px) {
	.btn-pop-join,
	.btn-pop-close {
		padding: 5px 15px;
		font-size: 12px;
	}

	.btn-pop-close {
		margin-left: 5px;
	}
}

@media(max-width: 720px) {
	.btn-pop-join,
	.btn-pop-close {
		padding: 5px 15px;
		font-size: 12px;
	}

	.btn-pop-close {
		margin-left: 5px;
	}
}

@media(max-width: 480px) {
	.btn-pop-join,
	.btn-pop-close {
		padding: 5px 15px;
		font-size: 10px;
	}

	.btn-pop-close {
		margin-left: 5px;
	}
}	