<template>
	<div class="col-sm-6 col-sm-offset-3">
	  <div class="quote-area" v-if="quote">
	    <h2><blockquote>{{ quote }}</blockquote></h2>      
	  </div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				quote: 'this is about'
			}
		}
	}
</script>