<template>
  <div class="Geevv">
    <div class="page city">
      <div class="header full">
        <div class="right-header right">
          <!--
          <a href="#">
            <div class="login left">
                <div class="login-right left rel">
                  <span>Masuk</span>
                </div>
            </div>
          </a>
          <a href="#">
            <div class="ic-menu left transition">
              <img src="/static/assets/img/ic-menu-new.png" alt="icon menu" />
            </div>
          </a>
          -->
          <div class="menu-ins transition">
            <div class="btn-close" >
              <a href="#" class="btn-bars">
                  <img src="/static/assets/img/ic-close-new.png" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="logo full">
          <div class="centered">
            <img src="/static/assets/img/geevvcity/logo.png" alt="logo geevv" />
          </div>
          <div class="tag-line text-center">
            {{ badgeText }}
          </div>
        </div>

        <form action="search" type="get" autoComplete="off">
          <div class="search-form full">
            <div class="centered">
              <input type="search" id="address-input" placeholder="Lokasi mana yang Anda cari?" />
            </div>
          </div>
        </form>
        <div class="list-cat centered">
          <ul class="centered">
            <li v-for="category in categories">
              <a href="#">
                <div class="img" v-bind:style="{ borderColor: category.color }" >
                  <img :src="'/static/assets/img/geevvcity/category/base-'+ category.icon +'.png'"/>
                </div>
                <span>{{ category.name }}</span>
              </a>
            </li>
          </ul>          
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  const places = require('places.js');
  export default {
    data() {
      return {
        badgeText: 'Tambahkan Geevv ke Chrome',
        categories: []
      }
    },
    mounted(){
      let vm = this
      const placesAutocomplete = places({
        container: document.querySelector('#address-input')
      })

      placesAutocomplete.on('change', function(e) {
        let lat = e.suggestion.latlng.lat
        let lng = e.suggestion.latlng.lng
        vm.$router.push({path: 'map', query: { location: lat+','+lng }})
      })
      
      vm.loadCategory()
    },
    methods: {
      loadCategory: function() {
        let vm = this
        vm.categories = []
        axios.get('http://139.59.251.117:3000/2.0/place-list-category')
          .then(res => {
            res.data.map(function(value) {
              vm.categories.push({
                id: value.id,
                name: value.name,
                color: value.color,
                description: value.description,
                icon: value.icon
              })
            })

            // console.log(vm.categories)
          })
          .catch(e => {
            this.errors.push(e)
        })
      },
    },
    head: {
        title: {
          inner: 'Geevv City'
        },
        // Meta tags
        meta: [
          { name: 'application-name', content: 'Geevv City' },
          { name: 'description', content: 'A description of the page', id: 'desc' }, // id to replace intead of create element
          // ...
          // Twitter
          { name: 'twitter:title', content: 'Content Title' },
          // with shorthand
          { n: 'twitter:description', c: 'Content description less than 200 characters'},
          // ...
          // Google+ / Schema.org
          { itemprop: 'name', content: 'Content Title' },
          { itemprop: 'description', content: 'Content Title' },
          // ...
          // Facebook / Open Graph
          { property: 'fb:app_id', content: '123456789' },
          { property: 'og:title', content: 'Content Title' },
          // with shorthand
          { p: 'og:image', c: 'http://via.placeholder.com/350x150' },
          // ...
        ],
    }
  }
</script>