<template>
	<div class="Geevv">
    <div class="page city-map rel">
      <div class="header full">
        <div class="menu" v-bind:class="{ active: !isMenuRightActive }">
          <a href="#" v-on:click="toggleMenuCat">
            <div class="ic-menu">
              <img src="/static/assets/img/geevvcity/left.png" />
              <span>Layers</span>
            </div>
          </a>
        </div>
        <div class="menu-open" v-bind:class="{ active: isMenuRightActive }">
          <div class="ic-menu">
            <a href="#" v-on:click="toggleMenuCat">
              <img src="/static/assets/img/geevvcity/right.png" />
            </a>
          </div>
          <div class="list-menu">
            <ul>
              <li v-for="category in categories" v-on:click="appendCat($event, category)">
                <a href="#">
                  <div class="img" v-bind:style="{ borderColor: category.color }" >
                    <img :src="'/static/assets/img/geevvcity/category/base-'+ category.icon +'.png'"/>
                  </div>
                </a>
                <div class="txt-list" :color="category.color">
                  <span>{{ category.name }}</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="txt-menu">
            <a href="#" v-on:click="clearCat"><span>Clear All Layer</span></a>
          </div>
        </div>
      </div>
      <div class="logo abs">
        <ul>
          <li>
            <a href="/">
              <img src="/static/assets/img/geevvcity/logo-single.png" />
            </a>
          </li>
          <li>
            <a href="#" v-on:click="zoomIn">
              <img src="/static/assets/img/geevvcity/zoom-in.png" />
              <span class="centered">Zoom In</span>
            </a>
          </li>
          <li>
            <a href="#" v-on:click="zoomOut">
              <img src="/static/assets/img/geevvcity/zoom-out.png" />
              <span class="centered">Zoom Out</span>
            </a>
          </li>
          <li>
            <a href="#" v-on:click="currentLocation">
              <img src="/static/assets/img/geevvcity/yourloc.png" />
              <span class="centered">Your Location</span>
            </a>
          </li>
        </ul>
        <div class="btn-col" v-bind:class="{ active: !isMenuLeftActive }">
          <a href="#" class="btn" v-on:click="toggleListing">
            <div class="btn-ins">
              <img src="/static/assets/img/geevvcity/right-white.png" />
            </div>
          </a>
        </div>
      </div>
      <div class="btn-col-open abs" v-bind:class="{ active: isMenuLeftActive }">
      	<div class="search-form">
					<div class="container">
						<input type="search" id="address-input" placeholder="Lokasi mana yang Anda cari?" />
	          <div class="sort-by">
	          	<span>Sort By</span>
	          	<select>
								<option value="default">Default</option>
								<option value="asc">A To Z</option>
								<option value="desc">Z To A</option>
							</select>
	          </div>
	        </div>
        </div>
  			<div class="box-list">
	        <ul>
	          <li v-for="item in items" v-on:click="focusMap($event, item)">
	            <div class="list-ins full">
	              <div class="ttl-img full">
	                <div class="img">
	                  <img src="/static/assets/img/geevvcity/avatar.png" />
	                </div>
	                <div class="txt-icon">
	                  <div class="txt">
	                    <h2>{{ item.name }}</h2>
	                    <h3>{{ item.address_detail.address }}</h3>
	                  </div>
	                  <div class="icon">
	                    <div class="img" v-bind:style="{ borderColor: item.color }" >
	                      <img :src="'/static/assets/img/geevvcity/category/base-'+ item.icon +'.png'" />
	                    </div>
	                    <span>{{ item.category }}</span>
	                  </div>
	                </div>
	              </div>
	              <div class="info-txt full">
	                <div class="contact">
	                  <div class="contact-list full">
	                    <div class="mail text-center">
	                      <a href="mailto:hello@geevv.com" target="_blank">hello@geevv.com</a>
	                    </div>
	                    <div class="phone text-center">
	                      <span>(021) 2279 1056</span>
	                      <span>+62 899 6054 802</span>
	                    </div>
	                  </div>
	                  <div class="desc full">
	                    <span>{{ item.description }}</span>
	                  </div>
	                </div>
	                <div class="contact-btn text-center full">
	                  <a href="#" class="" target="_blank">Visit Place</a>
	                </div>
	              </div>
	            </div>
	          </li>
	        </ul>
	      </div>
      </div>
      <div class="btn-col-test abs" v-bind:class="{ active: isMenuLeftActive }">
        <a href="#" class="btn" v-on:click="toggleListing">
          <div class="btn-ins">
            <img src="/static/assets/img/geevvcity/right-white.png" />
          </div>
        </a>
      </div>
      <div id='map'></div>

    </div>
  </div>
</template>

<script>
	import axios from 'axios'
	import Vue from 'vue'
	const qs = require('qs')
	const config = require('../../config/app.config').default
	const mapboxgl = require('mapbox-gl')
	const Draw = require('mapbox-gl-draw')

	const places = require('places.js');

	const defaultLatLng = {
	  lat: -6.21462,
	  lng: 106.84513
	}
	const defaultOptions = {
	  container: 'map',
	  style: config.mapStyles.streets,
	  center: [defaultLatLng.lng, defaultLatLng.lat],
	  zoom: 14,
	  // pitch: 45,
	  attributionControl: false
	}
	mapboxgl.accessToken = config.mapboxToken
	export default {
	  data: () => ({
      route: [],
      // new_coord: [],
      lat: defaultLatLng.lat,
      lng: defaultLatLng.lng,
      mapType: 'default',
      isMenuRightActive: false,
      isMenuLeftActive: true,
			chosenCat: [],
			bounds: [],
			errors: [],
			items: [],
			categories: [],
			markers: []
	  }),
	  watch: {
	    '$route.query.location': function (location) {
	      console.log(location)
	      // this.$router.push({path: 'map', query: { location: this.lat+','+this.lng }})
	      this.map.flyTo({center: [this.lng, this.lat]});
	    }
	  },
	  mounted() {
	  	let vm = this

	  	if(!vm.$route.query.location) {
	  		vm.$router.push({path: 'home'})
	  	} else {
	  		var splitLocation = vm.$route.query.location.split(',')
	  		vm.lat = splitLocation[0]
	  		vm.lng = splitLocation[1]
	  	}

	    // console.log('this', this);
	    vm.loadCategory()
	    vm.loadMap()

			const placesAutocomplete = places({
			  container: document.querySelector('#address-input')
			});
			placesAutocomplete.on('change', function(e) {
				vm.lat = e.suggestion.latlng.lat
				vm.lng = e.suggestion.latlng.lng
				// vm.map.flyTo({center: [lng, lat]});
				vm.$router.replace({path: 'map', query: { location: vm.lat+','+vm.lng }})
			})
	  },
	  methods: {
	  	loadCategory: function() {
	  		let vm = this
	  		vm.categories = []
	  		axios.get('http://139.59.251.117:3000/2.0/place-list-category')
			    .then(res => {
			    	res.data.map(function(value, key) {
			    		vm.categories.push({
			    			id: value.id,
			    			name: value.name,
			    			color: value.color,
			    			description: value.description,
			    			icon: value.icon
			    		})
			    	})

			    	// console.log(vm.categories)
			    })
			    .catch(e => {
			      this.errors.push(e)
		    })
	  	},
	    loadMap () {
	      let map;
	      let vm = this;

	      let issLat = parseFloat(vm.lat, 10);
        let issLng = parseFloat(vm.lng, 10);
        let new_coord = [];
        vm.lat = issLat;
        vm.lng = issLng;
        vm.route.push([issLng, issLat]);
        defaultOptions.center = [issLng, issLat];
        // defaultOptions.zoom = 10;
        map = new mapboxgl.Map(defaultOptions);
        vm.map = map;
        let nav = new mapboxgl.NavigationControl({position: 'bottom-right'})
        vm.updateBounds(vm.map.getBounds())

	      axios.post('http://139.59.251.117:3000/2.0/place-list',
		      {
	            bounds: vm.bounds.join(),
			      	categories: vm.chosenCat.join()
					}
			  ).then(res => {
			    	// console.log(res.data)

			    		// console.log(res.data);
			        // let issPosition = res.data.iss_position;
			        


			        // map.on('click', (e) => {
			        //     // console.log(map)
			        //     this.addPopUp(map, e);
			        // });

			        map.on('load', () => {

		          	vm.items = []

			          res.data.map(function(value, key) {

			          	// if(value.address_detail.lng != "" || value.address_detail.lat != "") {
					        	vm.items.push({
					        		id: value.id,
					        		name: value.name,
					        		description: value.description,
					        		category: value.category_name,
					        		icon: value.icon,
					        		color: value.color,
					        		address_detail: value.address_detail,
					        		contacts: value.contacts,
					        		links: value.links,
					        		images: value.images
					        	})

				            new_coord.push(
				              {
				                'type': 'Feature',
				                'geometry': {
				                    'type': 'Point',
				                    'coordinates': [value.address_detail.lng, value.address_detail.lat]
				                },
				                'properties': {
				                    'title': value.name
				                }
				              }
				            );


				            var el = document.createElement('div');
								    el.className = 'marker1';
								    el.style.backgroundImage = 'url(/static/assets/img/geevvcity/marker/pin-'+value.icon.toLowerCase()+'.png)';
								    el.style.width = 'calc(94px / 3)';
								    el.style.height = 'calc(126px / 3)';
								    el.style.backgroundSize = '100%';

								    el.addEventListener('click', function() {
								        map.flyTo({center: [value.address_detail.lng, value.address_detail.lat]});
								    });

								    // add marker to map
								    var popup = new mapboxgl.Popup()
	    								.setHTML(`
	    									<div class="list-ins-popup full">
						              <div class="ttl-img full">
						                <div class="txt-icon">
						                  <div class="txt">
						                    <h2>`+ value.name +`</h2>
						                    <h3>`+ value.address_detail.address +`</h3>
						                  </div>
						                </div>
						              </div>
						              <div class="info-txt full">
						                <div class="contact">
						                  <div class="contact-list full">
						                    <div class="mail text-center">
						                      <a href="mailto:hello@geevv.com" target="_blank">hello@geevv.com</a>
						                    </div>
						                    <div class="phone text-center">
						                      <span>(021) 2279 1056</span>
						                      <span>+62 899 6054 802</span>
						                    </div>
						                  </div>
						                </div>
						              </div>
						              <div class="contact-btn text-center full">
						                  <a href="#" class="" target="_blank">Visit Place</a>
						                </div>
						            </div>
	    								`);
								    let marker = new mapboxgl.Marker(el)
								        .setLngLat([value.address_detail.lng, value.address_detail.lat])
	    									.setPopup(popup)
								        .addTo(map);

						        vm.markers.push(marker)
						      // }
			          });

			          map.addLayer({
			              'id': 'points',
			              'type': 'symbol',
			              'source': {
			                  'type': 'geojson',
			                  'data': {
			                      'type': 'FeatureCollection',
			                      'features': new_coord
			                  },
			                  cluster: true,
								        clusterMaxZoom: 14, // Max zoom to cluster points on
								        clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
			              },
			              'layout': {
			                  'icon-image': '{icon}-15',
			                  // 'text-field': '{title}',
			                  'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
			                  'text-offset': [0, 0.6],
			                  'text-anchor': 'top'
			              }
			          });

			        });
			        
			        // map.on('mousemove', (e) => {
			        //   // vm.lat = e.lngLat.lat.toFixed(7);
			        //   // vm.lng = e.lngLat.lng.toFixed(7);

			        //   // console.log(e)

			        //   const features = map.queryRenderedFeatures(e.point, {
			        //     layers: ['points']
			        //   });
			        //   map.getCanvas().style.cursor = (features.length) ? 'pointer' : '';
			        // });

			        map.on('moveend', function() { 
			            // console.log("BB UPD:" +map.getBounds());
			            vm.updateMap()
			        });

			    })
			    .catch(e => {
			      this.errors.push(e)
		    })
	      // vm.$http.get('/static/data.json')
	      // vm.$http.post('http://139.59.251.117:3000/2.0/place-list')
	      // .then((res) => {
	        
	      // });
	    },
	  	toggleMenuCat: function (event) {
	  		event.preventDefault();
      	if (event) {
	    	// console.log(this.$refs)
	    	// this.$refs.menu_open.hide()
		    	if (this.isMenuRightActive)
		    		this.isMenuRightActive = false
		    	else
		    		this.isMenuRightActive = true
      	}
	    },
	    focusMap: function (event, item) {
	    	let vm = this
	    	// event.preventDefault()
	    	if (event) {
	    		if (item) {
	    			vm.map.flyTo({
		          center: [
		            item.address_detail.lng,
		            item.address_detail.lat
		          ],
    					zoom: 15
		        });
	    		}
	    	}
	    },
	  	toggleListing: function (event) {
	  		event.preventDefault();
      	if (event) {
	    	// console.log(this.$refs)
	    	// this.$refs.menu_open.hide()
		    	if (this.isMenuLeftActive)
		    		this.isMenuLeftActive = false
		    	else
		    		this.isMenuLeftActive = true
      	}
	    },
	  	appendCat: function (event, cat) {
	  		event.preventDefault();
	  		console.log(event.target)
      	if (event) {
	    		if (this.chosenCat.indexOf(cat.id) < 0) {
	    			this.chosenCat.push(cat.id)
	    		} else {
	    			let index = this.chosenCat.indexOf(cat.id)
						this.chosenCat.splice(index, 1);
	    		}
	    		console.log(this.chosenCat.join(', '))
	    		this.updateMap();
      	}
	    },
	  	clearCat: function (event) {
	  		event.preventDefault();
      	if (event) {
	    		this.chosenCat = []
	    		console.log(this.chosenCat.join(', '))
	    		this.updateMap();
      	}
	    },
	    changeMapType (event) {
	      this.map.setStyle(config.mapStyles[this.mapType]);
	    },
	    addPopUp(map, e) {
	    		// console.log("ALRT")
	        const features = map.queryRenderedFeatures(e.point, {
	            layers: ['points']
	        });
	        if (!features.length) {
	            return;
	        }

	        const feature = features[0];

	        const popupContent = Vue.extend({
	            template: `
	            	<div class="list-ins-popup full">
		              <div class="ttl-img full">
		                <div class="txt-icon">
		                  <div class="txt">
		                    <h2>Items</h2>
		                    <h3>Jl. Duren Tiga Raya No. 7E, Pancoran, Jakarta Selatan</h3>
		                  </div>
		                </div>
		              </div>
		              <div class="info-txt full">
		                <div class="contact">
		                  <div class="contact-list full">
		                    <div class="mail text-center">
		                      <a href="mailto:hello@geevv.com" target="_blank">hello@geevv.com</a>
		                    </div>
		                    <div class="phone text-center">
		                      <span>(021) 2279 1056</span>
		                      <span>+62 899 6054 802</span>
		                    </div>
		                  </div>
		                </div>
		              </div>
		              <div class="contact-btn text-center full">
		                  <a href="#" class="" target="_blank">Visit Place</a>
		                </div>
		            </div>
	            `,
	            methods: {
	                popupClicked() {
	                    alert('Popup Clicked!');
	                },
	            }
	        });

	        // Populate the popup and set its coordinates
	        // based on the feature found.
	        const popup = new mapboxgl.Popup()
	            .setLngLat(feature.geometry.coordinates)
	            .setHTML(`<div id="vue-popup-content"></div>`)
	            .addTo(map);

	        new popupContent().$mount('#vue-popup-content');
	    },
	    zoomOut(event) {
	    	event.preventDefault();
	    	let vm = this
	    	if(vm.map.getZoom()-1 > 0)
	    		vm.map.setZoom(vm.map.getZoom()-1)
	    	// alert(vm.map.getZoom()-1)
	    },
	    zoomIn(event) {
	    	event.preventDefault();
	    	let vm = this
	    	if(vm.map.getZoom()+1 < 20)
	    		vm.map.setZoom(vm.map.getZoom()+1)
	    	// alert(vm.map.getZoom()-1)
	    },
	    currentLocation(event) {
	    	let vm = this
	    	event.preventDefault();

	    	if (navigator.geolocation) {
	    		navigator.geolocation.getCurrentPosition(function(position) {
		        // Get the coordinates of the current position.
		        var lat = position.coords.latitude;
		        var lng = position.coords.longitude;

		        vm.map.flyTo({center: [lng, lat]});
			    });
	    	} else {
        	alert("Geolocation is not supported by this browser.")
    		}
	    },
	    updateMap () {
	      let vm = this;

	      vm.updateBounds(vm.map.getBounds())

	      axios.post('http://139.59.251.117:3000/2.0/place-list',
		      {
	            bounds: this.bounds.join(),
			      	categories: this.chosenCat.join()
					}
			  ).then(res => {

			    	// console.log(res.data)
	    			let issPosition = res.data.iss_position;
		        let issLat = parseFloat(vm.lat, 10);
		        let issLng = parseFloat(vm.lng, 10);
		        let new_coord = [];
		        vm.route.push([issLng, issLat]);
		        vm.lat = issLat;
		        vm.lng = issLng;
		        // vm.map.flyTo({
		        //   center: [
		        //     issLng,
		        //     issLat
		        //   ]
		        // });
						vm.items.splice(0, vm.items.length)
						// vm.markers.splice(0, vm.markers.length)


						// vm.markers.map(function(value, key) {
						// 	// console.log(value)
						// 	// vm.map.removeLayer(value);
						// })

						// vm.new_coord.splice(0, vm.new_coord.length)
		        res.data.map(function(value, key) {

		        	vm.items.push({
		        		id: value.id,
		        		name: value.name,
		        		description: value.description,
		        		category: value.category_name,
		        		icon: value.icon,
		        		color: value.color,
		        		address_detail: value.address_detail,
		        		contacts: value.contacts,
		        		links: value.links,
		        		images: value.images
		        	})

	            new_coord.push(
	              {
	                'type': 'Feature',
	                'geometry': {
	                    'type': 'Point',
	                    'coordinates': [value.address_detail.lng, value.address_detail.lat]
	                },
	                'properties': {
	                    'title': value.name
	                }
	              }
	            );

	            var el = document.createElement('div');
					    el.className = 'marker1';
					    el.style.backgroundImage = 'url(/static/assets/img/geevvcity/marker/pin-'+value.icon.toLowerCase()+'.png)';
					    el.style.width = 'calc(94px / 3)';
					    el.style.height = 'calc(126px / 3)';
					    el.style.backgroundSize = '100%';

					    el.addEventListener('click', function() {
					        map.flyTo({center: [value.address_detail.lng, value.address_detail.lat]});
					    });

					    // add marker to map
					    var popup = new mapboxgl.Popup()
								.setHTML(`
									<div class="list-ins-popup full">
			              <div class="ttl-img full">
			                <div class="txt-icon">
			                  <div class="txt">
			                    <h2>`+ value.name +`</h2>
			                    <h3>`+ value.address_detail.address +`</h3>
			                  </div>
			                </div>
			              </div>
			              <div class="info-txt full">
			                <div class="contact">
			                  <div class="contact-list full">
			                    <div class="mail text-center">
			                      <a href="mailto:hello@geevv.com" target="_blank">hello@geevv.com</a>
			                    </div>
			                    <div class="phone text-center">
			                      <span>(021) 2279 1056</span>
			                      <span>+62 899 6054 802</span>
			                    </div>
			                  </div>
			                </div>
			              </div>
			              <div class="contact-btn text-center full">
			                  <a href="#" class="" target="_blank">Visit Place</a>
			                </div>
			            </div>
								`);
					    let marker = new mapboxgl.Marker(el)
					        .setLngLat([value.address_detail.lng, value.address_detail.lat])
									.setPopup(popup)
					        .addTo(vm.map);

					    vm.markers.push(marker)

		        	///


		        	// vm.items.push({
		        	// 	id: value.id,
		        	// 	name: value.name,
		        	// 	description: value.description,
		        	// 	category: value.category_name,
		        	// 	icon: value.icon,
		        	// 	color: value.color,
		        	// 	address_detail: value.address_detail
		        	// })

	          //   new_coord.push(
	          //     {
	          //       'type': 'Feature',
	          //       'geometry': {
	          //           'type': 'Point',
	          //           'coordinates': [value.address_detail.lng, value.address_detail.lat]
	          //       },
	          //       'properties': {
	          //           'title': value.name,
	          //           'icon': 'monument'
	          //       }
	          //     }
	          //   )

	          });

	          // console.log('items:' + vm.items)

		        requestAnimationFrame(() => {
		          vm.map.getSource('points').setData({
		            "type": "FeatureCollection",
		            "features": new_coord
		          })
		        });
		    })
		    .catch(e => {
		      this.errors.push(e)
		    })
	    },
	    updateBounds () {
	    	this.bounds = []
	    	this.bounds.push(this.map.getBounds()['_sw']['lat'])
	    	this.bounds.push(this.map.getBounds()['_sw']['lng'])
	    	this.bounds.push(this.map.getBounds()['_ne']['lat'])
	    	this.bounds.push(this.map.getBounds()['_ne']['lng'])
	    	console.log("BOUNDS: " + this.bounds.join())
	    	console.log(this.map.getBounds().toArray())
	    	console.log("CAT: " + this.chosenCat.join())
	    	console.log(this.items)
	    }
	  }
	}
</script>

<style scoped lang='scss'>
  #map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
  }
  #latLng {
    background: transparentize(white, 0.2);
    bottom: 0;
    box-sizing: border-box;
    display: inline;
    left: 10px;
    padding: 5px;
    pointer-events: none;
    position: absolute;
    z-index: 200;
  }
</style>