<template>
  <div id='map'>
  </div>
</template>

<script>
const config = require('../../config/app.config').default
const mapboxgl = require('mapbox-gl')
const Draw = require('mapbox-gl-draw')
const defaultLatLng = {
  lat: 37.7720566,
  lng: -122.4099524
}
const defaultOptions = {
  container: 'map',
  style: config.mapStyles.default,
  center: [defaultLatLng.lng, defaultLatLng.lat],
  zoom: 15,
  // pitch: 45,
  attributionControl: false
}
mapboxgl.accessToken = config.mapboxToken
export default {
  data() {
    return {
      route: [],
      // new_coord: [],
      lat: defaultLatLng.lat,
      lng: defaultLatLng.lng,
      mapType: 'default'
    }
  },
  mounted() {
    console.log('this', this);
    this.loadData();
  },
  methods: {
    changeMapType (event) {
      this.map.setStyle(config.mapStyles[this.mapType]);
    },
    loadData () {
      let map;
      let vm = this;
      // vm.$http.get('/static/data.json')
      vm.$http.post('http://139.59.251.117:3000/2.0/place-list')
      .then((res) => {
        // console.log(res.body);
        // let issPosition = res.body.iss_position;
        let issLat = parseFloat("-6.21462", 10);
        let issLng = parseFloat("106.84513", 10);
        let new_coord = [];
        vm.lat = issLat;
        vm.lng = issLng;
        vm.route.push([issLng, issLat]);
        defaultOptions.center = [issLng, issLat];
        defaultOptions.zoom = 9;
        map = new mapboxgl.Map(defaultOptions);
        vm.map = map;
        let nav = new mapboxgl.NavigationControl({position: 'bottom-right'})
        map.addControl(nav)

        console.log("BB: " + map.getBounds())


        map.on('click', (e) => {
            this.addPopUp(map, e);
        });

        map.on('load', () => {

          res.body.map(function(value, key) {
             // console.log(value);

            //  map.addSource(value.name, {
            //   'type': 'geojson',
            //   'data': {
            //     'type': 'FeatureCollection',
            //     'features': [{
            //       'type': 'Feature',
            //       'geometry': {
            //         'type': 'Point',
            //         'coordinates': [value.address_detail.lng, value.address_detail.lat]
            //       },
            //       'properties': {
            //         'title': value.name,
            //         'icon': 'rocket'
            //       }
            //     }]
            //   }
            // });


            // map.addLayer({
            //   'id': value.name,
            //   'type': 'symbol',
            //   'source': value.name,
            //   'layout': {
            //     'icon-image': '{icon}-15',
            //     'text-field': '{title}',
            //     'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
            //     'text-offset': [0, 0.6],
            //     'text-anchor': 'top'
            //   }
            // });
            new_coord.push(
              {
                'type': 'Feature',
                'geometry': {
                    'type': 'Point',
                    'coordinates': [value.address_detail.lng, value.address_detail.lat, ]
                },
                'properties': {
                    'title': value.name,
                    'icon': 'monument'
                }
              }
            );

          });

          // console.log(new_coord);
          // console.log([{
          //                 'type': 'Feature',
          //                 'geometry': {
          //                     'type': 'Point',
          //                     'coordinates': [-77.03238901390978, 38.913188059745586]
          //                 },
          //                 'properties': {
          //                     'title': 'Mapbox DC',
          //                     'icon': 'monument'
          //                 }
          //             }, {
          //                 'type': 'Feature',
          //                 'geometry': {
          //                     'type': 'Point',
          //                     'coordinates': [-122.414, 37.776]
          //                 },
          //                 'properties': {
          //                     'title': 'Mapbox SF',
          //                     'icon': 'harbor'
          //                 }
          //             }]);

          map.addLayer({
              'id': 'points',
              'type': 'symbol',
              'source': {
                  'type': 'geojson',
                  'data': {
                      'type': 'FeatureCollection',
                      'features': new_coord
                  }
              },
              'layout': {
                  'icon-image': '{icon}-15',
                  'text-field': '{title}',
                  'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
                  'text-offset': [0, 0.6],
                  'text-anchor': 'top'
              }
          });

          // map.addSource('points', {
          //   'type': 'geojson',
          //   'data': {
          //     'type': 'FeatureCollection',
          //     'features': [{
          //       'type': 'Feature',
          //       'geometry': {
          //         'type': 'Point',
          //         'coordinates': [issLng, issLat]
          //       },
          //       'properties': {
          //         'title': 'ISS',
          //         'icon': 'rocket'
          //       }
          //     }]
          //   }
          // });
          // map.addLayer({
          //   'id': 'points',
          //   'type': 'symbol',
          //   'source': 'points',
          //   'layout': {
          //     'icon-image': '{icon}-15',
          //     'text-field': '{title}',
          //     'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
          //     'text-offset': [0, 0.6],
          //     'text-anchor': 'top'
          //   }
          // });
        });
        map.on('mousemove', (e) => {
          vm.lat = e.lngLat.lat.toFixed(7);
          vm.lng = e.lngLat.lng.toFixed(7);

          const features = map.queryRenderedFeatures(e.point, {
            layers: ['points']
          });
          map.getCanvas().style.cursor = (features.length) ? 'pointer' : '';
        });

        map.on('moveend', function() { 
            console.log("BB UPD:" +map.getBounds());
        });
      });
      // setTimeout(function () {
      //   vm.updateMap();
      // }, 5000);
    },
    addPopUp(map, e) {
        const features = map.queryRenderedFeatures(e.point, {
            layers: ['points']
        });
        if (!features.length) {
            return;
        }

        const feature = features[0];

        const popupContent = Vue.extend({
            template: '<button @click="popupClicked">Click Me!</button>',
            methods: {
                popupClicked() {
                    alert('Popup Clicked!');
                },
            }
        });

        // Populate the popup and set its coordinates
        // based on the feature found.
        const popup = new mapboxgl.Popup()
            .setLngLat(feature.geometry.coordinates)
            .setHTML('<div id="vue-popup-content"></div>')
            .addTo(map);

        new popupContent().$mount('#vue-popup-content');
    }
    // updateMap () {
    //   let vm = this;
    //   vm.$http.get('/static/data.json')
    //   .then((res) => {
    //     let issPosition = res.body.iss_position;
    //     let issLat = parseFloat(issPosition.latitude, 10);
    //     let issLng = parseFloat(issPosition.longitude, 10);
    //     vm.route.push([issLng, issLat]);
    //     vm.lat = issLat;
    //     vm.lng = issLng;
    //     vm.map.flyTo({
    //       center: [
    //         issLng,
    //         issLat
    //       ]
    //     });
    //     requestAnimationFrame(() => {
    //       vm.map.getSource('points').setData({
    //         "type": "FeatureCollection",
    //         "features": [{
    //           "type": "Feature",
    //           "properties": {
    //             'title': 'ISS',
    //             'icon': 'rocket'
    //           },
    //           "geometry": {
    //             'type': 'Point',
    //             'coordinates': [issLng, issLat]
    //           }
    //         }]
    //       })
    //     });
    //   });
    // }
  }
}
</script>

<style scoped lang='scss'>
  #map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
  }
  #latLng {
    background: transparentize(white, 0.2);
    bottom: 0;
    box-sizing: border-box;
    display: inline;
    left: 10px;
    padding: 5px;
    pointer-events: none;
    position: absolute;
    z-index: 200;
  }
</style>